#main-container{
	width: 90%;
	position: relative;
	margin:48px auto 0 auto;
	overflow: auto;
}
.template-main{
    margin: 0 auto;
    width: 28.8rem;
    padding: 0 1.6rem;
    background-color: #FDFDFD;
    overflow: hidden;
    box-shadow: 0rem 0.1rem 0.1rem rgba(0,0,0,0.16);
}

#main-container a{
	display: block;
	position: relative;
	margin: 5px;
	padding: 10px;
	overflow: hidden;
	background: #ffffff;
	border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #7e7e7e;
    text-decoration: none;
    min-width: 125px;
}

.message{
	position: relative;
	margin: 5px;
	padding: 10px;
	overflow: hidden;
	background: #ffffff;
	border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #7e7e7e;
    min-width: 125px;
}

#main-container li{
    list-style: none;
}

.line{
	width: 100%;
	border-top: solid #e5e5e5 1px;
	margin: 5px auto;
}

#main-container img{
	vertical-align: middle;
}

table{
	width:100%;
	min-width: 1000px;
	background-color: #ffffff;
	margin-bottom: 25px;

}

caption{
	font-family: "Microsoft Yahei";
	font-size: 24px;
	color: #57595b;
	line-height: 200%;
}

td{
	font-family: "Microsoft Yahei";
	font-size: 14px;
	line-height: 200%;
	border: 0px #f7f7f7 solid;
	min-width: 72px;
	text-align: left;
	vertical-align: top;	
}

.time{
	width: 55px;
	background: #f7f7f7;
	color: #7e7e7e;
	text-align: center;
	vertical-align: middle;
}

.day1,.day2,.day3,.day4,.day5,.day6,.day7{
	background-color: #a0d8ef;
	color: #007bbb;
}

.template-header{
    position: relative;
    margin:  0 auto;
    height: 12.5rem;
    width: 32rem;
    overflow: hidden;
    background-size: 100%;
    background-image: url(/static/images/coverphoto/current.jpg);
}