.message{
    width: 900px;
    position: relative;
    margin-top: 50px;
    overflow: hidden;
}
.is_delete{
    background-image: url(/static/images/lecture/red.png);
    background-repeat: repeat-x;
    background-color: #ee827c;
}
.not_delete{
    background-image: url(/static/images/lecture/green.png);
    background-repeat: repeat-x;
    background-color: #98d98e;
}
.url{
    display: block;
    font-family: "Microsoft Yahei";
    color: #ffffff;
    font-size: 22px;
    text-decoration: none;
    text-align: center;
    position: relative;
    margin-top: 20px;
}
.url:hover{ color:#3eb370}