{% extends 'master/base.html' %}

{% block htmlhead %}
    {% load html_tools %}
    {{ 'manage/add_articles.css' | as_css }}
    {{ form.media }}
{% endblock %}

{% block beforeload %}
<script type="text/javascript">
    window.onload=function(){
        $("#edui1").css("width","100%");
        $("#edui1_iframeholder").css("width","100%");
    }
</script>

{% endblock %}

{% block content %}
<form method="post" enctype="multipart/form-data"action="{{ post_url }}?id={{ slide_id }}&page={{ page }}">
    {% csrf_token %}
    <div class="content">
        <li>
            <label>标题</label>
            {{ form.title }}
            <span class="error">
                {% for error in form.title.errors %}
                    {{ error }}
                {% endfor %}
            </span>
        </li>
        <div class="line_list"></div>
        <li>
            <label>描述</label>
            {{ form.describe }}
            <span class="error">
                {% for error in form.describe.errors %}
                    {{ error }}
                {% endfor %}
            </span>
        </li>
    </div>
    <div class="line_aside"></div>
    <div class="content">
        <li>
            <label>跳转地址</label>
            {{ form.jumpUrl }}
            <span class="error">
                {% for error in form.jumpUrl.errors %}
                    {{ error }}
                {% endfor %}
            </span>
        </li>
        <div class="line_list"></div>
        <li>
            <label>封面图片</label>
            {{ form.cover }}
            <span class="error">
                {% for error in form.cover.errors %}
                    {{ error }}
                {% endfor %}
            </span>
        </li>
        <div class="line_list"></div>
        <li>
            <label>优先级</label>
            {{ form.priority }}
            <span class="error">
                {% for error in form.priority.errors %}
                    {{ error }}
                {% endfor %}
            </span>
        </li>
    </div>
    <div class="line_aside"></div>
    <div class="content">
        <li>
            <label>最后操作人</label>
            {{ slide.modifier.student.true_name | default:"xx"}}
        </li>
        <div class="line_list"></div>
        <li>
            <label>修改时间</label>
            {{ slide.lastModify | date:"Y-m-d" }}
        </li>
    </div>
    <div class="line_aside"></div>   
    <input type="submit" value="提交" class="add">    
</form>  
{% endblock %}
