*{
	margin: 0;
	padding: 0;
}
ul,li{
	list-style: none;
	padding: 0;
	margin: 0;
}
body{
	position: relative;
	background-color:#F8F8F8;
	font-family: "SourceHanSans-Light","Roboto-Light","Microsoft YaHei";
	padding-bottom: 20px;
}
.plan_list
{
	margin-top:50px;
}
.plan_list li
{
	padding: 10px;
	border-bottom: 2px solid #eeeeee;
	text-align: left;
}
.plan_list li .plan_author
{
	font-size: 1.3em;
	overflow: hidden;
	color: #08c;
	
}
.plan_list .plan_li .tip
{
	text-align: center;
}
.visi_hide
{
	visibility:hidden;
}
.right_box .function_btn
{
	margin-right: 1.5em;
	padding: 10px 5px;
}
.my_icon
{
	vertical-align: middle;
}
.navbar{
	position: fixed;
	top:0;
	left: 0;
	right: 0;
	padding: 10px;
	font-size: 1.2em;
	background-color: rgb(91,197,190);
	zoom:1;

}
.navbar span
{
	vertical-align: middle;
}
header{
	position: relative;
}
header .logo
{
	display: inline-block;
	height: 1.7rem;
    width: 1.7rem;
}
header .theme_title
{
	vertical-align: middle;
	font-size: 0.9em;
}
header .loadding_box
{
	position: fixed;
	top: 0;
	z-index: 100;
	left: 50%;
}
header .navbar span
{
	height: 100%;
	vertical-align: middle;
}
.like_persons_wrapper
{
	padding: 5px;
	color: #576b95;
	background-color: #eeeeee;
}
.like_persons_wrapper img
{
	vertical-align: middle;
}
.like_persons_wrapper .like_persons
{
	word-break:break-word;
	vertical-align: middle;
}
.author_szu_org,.create_time,.liked_tip 
{
	font-size: 0.8em;
	color: #7B7676;
}

.function_wrapper{
	font-size: 0.8em;
	overflow: hidden;
	zoom:1;
}

.function_wrapper .right_box 
{
	text-align: right;

}
.function_wrapper .right_box .like_btn
{
	padding: 5px 10px;
}
.function_wrapper .right_box span,.function_wrapper .right_box a
{
	margin-right: 1.5em;
}

.plan_content{
	padding:5px 20px ;
	font-size: 1.1em;
	word-break:break-word;
}
.plan_thought_box
{
	border-top:1px dashed #7d7d7d;
	padding:5px 10px ;
	word-break:break-word;
}
.plan_thought
{
	word-break:break-word;
	padding:5px 20px ;
}
.plan_thought_box .thought_title
{
	color: #272822;
	margin-right: 0.7em;
}
#plan_form input,#plan_form textarea
{
	width: 95%;
	margin: 0 auto;
}
 
.page_number{
	display: none;
}

#plan_form_error,#thought_form_error
{
	color: red;
}
.page_number.no_more_tip
{
	display: block;
	text-align: center;
	margin-top: 10px;
	font-size: 1.1em;
}
#search_input
{
	width: 95%;
	margin: 0 auto;
}

.dropdown-menu i,.dropdown-menu a
{
	text-align: left;
	vertical-align: top;
}
.dropdown-menu i
{
	margin-right: 0.2em;
}