<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" lang="zh-CN">
<head>
    {% load html_tools %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta http-equiv="Content-Language" content="zh-CN" />
    <meta name="theme-color" content="#5BC5BE">
    <meta name="apple-mobile-web-app-status-bar-style" content="#5BC5BE" />
    {% block htmltitle %}<title>深圳大学学子天地</title>{% endblock %}
    {% block keywords %}{% endblock %}{% block description %}{% endblock %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="HandheldFriendly" content="true" />
    <link href="/static/images/stulogo.png" type="image/x-icon" rel="shortcut icon" />
    <!--[if IE]>
    {{ 'ie-fix.css' | as_css }}
    <![endif]-->
    {{ 'plugins/jquery.min.js' | as_js }}
    {{ 'plugins/jquery.lazyload.min.js' | as_js }}
    {{ 'plugins/jquery.tools.min.js' | as_js }}
    {{ 'plugins/jquery.form.js' | as_js }}
    {{ 'global.js' | as_js }}
    {{ 'message-box.css' | as_css }}
    {{ 'bases.css' | as_css }}
    {{ 'globals.js' | as_js }}

    <!--[if lte IE 8]>
    {{ 'plugins/respond.min.js' | as_js }}
    <![endif]-->
    
    {% block htmlhead %}
    {% endblock %}
</head>
<!-- 百度统计start -->
<script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?4d0c962b688eb374c3f0a499db3087a4";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
</script>
<!-- 百度统计end -->

<script type="text/javascript">
    $(function(){
        $("img").each(function() {
            var original = $(this).attr("src");
            $(this).attr("data-original", original)
            .addClass("lazy");

        });
        $("img.lazy").lazyload({
            effect : "fadeIn"
       }); 
    });
</script>
<body style="min-width:300px;">

<div class="inner_body">
    <div class="header-phone">
        <a id="menu_call" href="javascript:void(0)" onclick="sidebaropen();">
            <img src="/static/images/index/menu_call.png" alt="nav" />
        </a>
        <p>深圳大学学子天地</p>
    </div>

    <div class="header-nav">
        <div class="sidebar-main">
            <div class="sidebar-top">
                <div class="sidebar-blur"></div>
                <p class="stucampus_name">学子天地</p> 
                <p class="stuc_description">深大第一学生门户网站</p>
            </div>
            <div class="autoadapt">
                <ul class="nav1">
                    <li><a class="nav-active" id="nav0" href="javascript:void(0)" onclick="navcome(0);" tarurl="/"><span class="home"></span>学子首页</a></li>
                    <li><a id="nav1" href="javascript:void(0)" onclick="navcome(1);" tarurl="{% url 'articles:list' 'people' %}"><span class="people"></span>深大人物</a></li>
                    <li><a id="nav2" href="javascript:void(0)" onclick="navcome(2);" tarurl="{% url 'articles:list' 'interesting' %}"><span class="interesting"></span>趣物志</a></li>
                    <li ><a id="nav3" href="javascript:void(0)" onclick="navcome(3);" tarurl="{% url 'articles:list' 'news' %}"><span class="news"></span>新闻和通知</a></li>
                    <li><a id="nav4" href="javascript:void(0)" onclick="navcome(4);" tarurl="http://stu.szu.edu.cn:8080/"><span class="serv"></span>服务专区</a></li>
                    <li class="now"></li>
                </ul>
            </div>
        </div>
        <div class="call-back" onclick="sidebarclose();"></div>
    </div>

    <a href="javascript:void(0)" class="fixed-logo">
        <img src="/static/images/new_index/national_logo.png" alt="" />
    </a>
    {% block header %}
    {% endblock %}
    <div class="inner_content">
    {% block content %}
    {% endblock %}
    </div><!--end of inner_content-->
    <div class="copyright">版权所有 © 2001～2015 深圳大学学子天地 - 粤ICP备05008884号</div>
</div><!--end of inner_body-->

</body>
</html>
