{% extends 'base.html' %}

{% block keywords %}
<meta name="keywords" content="深圳大学,深大,荔园,学子天地" />
{% endblock %}

{% block description %}
<meta name="description" content="深圳大学学子天地是深大最大的校园传媒网站，致力于为深大学子提供有价值的资讯和服务。">
{% endblock %}

{% block htmlhead %}
    {% load html_tools %}
    {{ 'plugins/swiper.min.js' | as_js }}
    {{ 'index.js' | as_js }}
    {{ 'carousels/swiper.min.css' | as_css }}
    <link href="/static/styles/index-phone.css" rel="stylesheet" type="text/css" media="screen and (max-width:767px)" />  
    <link href="/static/styles/index-pc.css" rel="stylesheet" type="text/css" media="screen and (min-width:768px)" />
{% endblock %}

{% load py_utils %}

{% load qiniu_tools %}

{% block content %}
    <div class="slide-container">
        <div class="swiper-pagination"></div>
        <div class="swiper-wrapper">
            {% if slides %}
                {% for slide in slides %}
                <div id="banners" class="swiper-slide">
                    <a  href="{{ slide.jumpUrl }}" style="left: 0rem;" >
                        <div class="blur">
                        </div>
                        <div class="infomation">
                            <p class="banner_title">{{ slide.title | truncatechars:19  }}</p>
                            <!--<p class="banner_describe">{{ slide.describe }}</p>-->
                            <!--<p class="banner_category"></p>-->
                        </div>
                        <img src="{{ slide.cover.name | scale_qiniu_img:request}}" alt="{{ article.title | truncatechars:19  }}" />
                    </a>  
                </div>
                {% endfor %}
            {% else %}
    <!--         默认幻灯片 -->
                <div id="banners" class="swiper-slide">
                    <a  href="javascript:void(0)" style="left: 0rem;" >
                        <div class="blur">
                        </div>
                        <div class="infomation">
                            <p class="banner_title">学子天地</p>
                            <p class="banner_describe">浮游于世，不止自己</p>
                        </div>
                        <img src="/static/images/coverphoto/current.jpg" alt="学子封面" />
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="main-content">
        <div class="artical-content">
        {% for article in newest_articles %}
            <div class="artical">
                <a href="{% url 'articles:display' article.pk %}">
                    <div class="a-pic"><img src=" {{ article.cover.name | scale_qiniu_img:request }}"></div>
                    <div class="a-content">
                        <span class="a-title">{{ article.title | truncatechars:19  }}</span>
                        <div class="a-info">
                            {{ article.author }} · {{ article.category }} · {{ article.create_date | date:"n月d日"}}
                        </div>
                        <p class="a-intro">{{ article.summary }}</p>
                    </div>
                    <hr />
                    <div class="like-content">
                        <!--<img class="left" src="images/like.png"><p  class="left">99999</p>-->
                        <div class="acomments"><span class="comment_img"></span><p class="comment_p">{{ article.comments }}</span></p></div>
                        <div class="aeyes"><span class="eye_img"></span><p class="eye_p">{{ article.click_count }}</p></div>
                    </div>
                </a>
            </div>
        {% endfor %}
        {% if newest_articles.has_next %}
            <div class="page_number">{{ newest_articles.number }}</div>
        {% else %}
            <div class="page_number">没有更多文章了</div>
        {% endif %}
        </div><!--end of cont_articles-->

        <div class="side-content">
            <div class="sidenav">
                    <p class="card-title">深大导航</p>
                    <div class="nav-content">
                        <a href="http://www.szu.edu.cn/board/" target="_blank">公文通</a>
                        <a href="http://elearning.szu.edu.cn/" target="_blank">Blackboard</a>
                        <a href="https://exmail.qq.com/domain/email.szu.edu.cn" target="_blank">学生邮箱</a>
                        <a href="http://stu.szu.edu.cn:8080/" target="_blank">校园场地申请</a>
                        <a href="http://tycg.szu.edu.cn/Home.aspx" target="_blank">体育场馆订票</a>
                    </div>
                    <div class="nav-content">
                        <a href="http://www.szu.edu.cn/nc/" target="_blank">网络服务</a>
                        <a href="http://swzx.szu.edu.cn/" target="_blank">事务中心</a>
                        <a href="http://gyzx.szu.edu.cn/" target="_blank">公寓管理</a>
                        <a href="http://www.lib.szu.edu.cn/" target="_blank">图书馆</a>
                        <a href="http://www.szu.edu.cn/tv/" target="_blank">网上电视</a>
                        <a href="http://192.168.2.113/" target="_blank">火车订票</a>
                    </div>
                    <div class="nav-content">
                        <a href="http://192.168.2.20/" target="_blank">教务管理</a>
                        <a href="http://192.168.2.168/paike/selectXYMC_BJMC.asp" target="_blank">排课查询</a>
                        <a href="http://192.168.240.168/xuanke/edu_login.asp" target="_blank">网上选课</a>
                        <a href="http://192.168.2.20/axsxx/AASZUstd.ASP" target="_blank">绩点查询</a>
                        <a href="http://swzx.szu.edu.cn/swzx_view_affair_details.asp?affair_id=14c99c402ddab519" target="_blank">联系老师</a>
                    </div>
            </div>
            <div class="side-card">
                <p class="card-title">最新评论</p>
                {% if comments %}
                    {% for comment in comments %}
                    <div class="comment">
                        <a href="{{comment.comment_author_url}}">
                            <img src="{{ comment.comment_author_avatar_url }}" alt="{{ comment.comment_author_name }}" />
                            <span>{{ comment.comment_author_name }}</span>
                        </a>
                        <p class="comment-source">{{ comment.comment_created_at }} 在 {{ comment.article_title }} 中评论:</p>
                        <p class="comment-value">{{ comment.comment_content }}</p>
                        <a href="{{ comment.article_url }}">进入文章查看全文</a>
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="side-card">
                <div class="shadow">
                    <p class="card-title">最近访客</p>
                    <div class="content">
                        {% if visitors %}
                            {% for visitor in visitors %}
                            <a class="visitor" href="{{ visitor.url }}">
                                <img src="{{ visitor.avatar_url }}" alt="{{ visitor.name }}" />
                                <p>{{ visitor.name }}</p>
                            </a>
                            {% endfor %}
                        {% endif %}
                        
                    </div>
                </div>
            </div>
        </div>
    </div><!--end of sidebar-->
    <script type="text/javascript">
        var reach_bottom_time = 0;
        var loadingStatus = false;
        $(window).scroll(function(){
            var scrollPos = $(document).scrollTop(); //滚动条距离顶部的高度
            var windowHeight = $(window).height(); //窗口的高度
            var dbHiht = $(document).height(); //整个页面文件的高度
            if(dbHiht - windowHeight <= scrollPos){
                if($(".page_number").last().text()=="没有更多文章了"&reach_bottom_time<3){
                    reach_bottom_time += 1;
                    StuCampus.alert("没有更多文章了",1000);
                }
                else if($(".page_number").last().text()=="没有更多文章了"&reach_bottom_time>=3){

                }
                else{
                    if(loadingStatus==true){
                        StuCampus.alert("加载中",1000);
                        return false;
                    }
                    loadingStatus=true;
                    console.log(loadingStatus);
                    getNextTimes = parseInt($(".page_number").last().text()) + 1;
                    setTimeout(function(){
                        StuCampus.alert("正在加载更多文章",1000);
                        $.ajax({
                            type: "GET",
                            url: "/?page="+getNextTimes,
                            dataType: "html",
                            success: function(data){
                                $(".artical-content").append(data);
                                loadingStatus = false;
                            },
                            error: function(data, status, e){
                                StuCampus.alert("发生错误,请重试.或联系学子技术开发部",1000);
                                loadingStatus = false;
                            }
                        });
                    },500);
                }
            }
        });
    </script>
<!--end of central-->

{% endblock %}
