<!DOCTYPE html>
<html>
<head>
	<title>Bootstrap 实例 - 内联表单</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<meta http-equiv="Content-Language" content="zh-CN" />
	<meta name="theme-color" content="#5BC5BE">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="HandheldFriendly" content="true" />
	<link href="/static/images/stulogo.png" type="image/x-icon" rel="shortcut icon" />
	<link rel="stylesheet" href="./css/bootstrap.min.css">
	{% load html_tools %}
    {{ 'plugin/bootstrap.min.css' | as_css }}
	

	<style>
		.main
		{
			margin: 0 auto;
			text-align: center;
		}
		.form-inline
		{
			margin-bottom: 10px;
		}
		table  tr th
		{
			text-align: center;
		}
	</style>
</head>
<body>
	<div class="main">
		<h2>你没有权限访问学子通讯录</h2>
	</div>
	

</body>
</html>