{% extends 'master/base.html' %}

{% block htmlhead %}
{% load html_tools %}
{{ 'manage/list.css' | as_css }}
{{ 'manage/account.css' | as_css }}
{{ 'admin/account.js' | as_js }}
{% endblock %}

{% block content %}
<div class="list_title">
    <span style="width:15%">姓名</span>
    <span style="width:25%">学号</span>
    <span style="width:25%">电话号码</span>
    <span style="width:25%">操作</span>
</div>
<div class="message_container">
{% load account_custom %}
{% for member in page %}
    <li>
        <a href="{% url 'member_infor:modify' %}?id={{ member.pk }}&page={{ page.number }}">
            <span style="width:15%">{{ member.name }}</span>
            <span style="width:25%">{{ member.szu_no }}</span>
            <span style="width:25%">{{ member.mobile_phone_number }}</span>
        </a>
        {% if perms.member_infor.member_manage %}
            {% if not member.approved %}
            <a href="{% url 'member_infor:approve_member' %}?id={{ member.pk }}" class="control">通过</a>
            {% endif %}
        <a href="{% url 'member_infor:delete' %}?id={{ member.pk }}" class="control">删除</a>
        {% endif %}
    </li>
    <div class="line_list"></div>
{% endfor %}
</div>
    {% include 'plugin/paginator.html' with page=page %}
{% endblock %}

