{% extends 'master/base.html' %}

{% block htmlhead %}
    {% load html_tools %}
    {{ 'manage/add_articles.css' | as_css }}
    {{ form.media }}
{% endblock %}

{% block beforeload %}
<script type="text/javascript">
    window.onload=function(){
        $("#edui1").css("width","100%");
        $("#edui1_iframeholder").css("width","100%");
    }
</script>
<style>
    .article_content,h2
    {
        text-align: center;
        margin: 0 0 1em 0;
    }
    .article_content input
    {
        display: inline;
        width: 50%;
        margin-bottom: 5px;
    }
    .article_content select
    {
        display: inline;
        width: 16%;
    }
    .article_content .errorlist
    {
        color: red;
    }
    .tips
    {
        width: 100%;
        text-align: center;
    }
</style>

{% endblock %}

{% block content %}
<form method="POST" enctype="multipart/form-data"action="{{ post_url }}?id={{ member_id }}&page={{ page }}">
    {% csrf_token %}
    <div class="article_content">
    <h2>{{ title }}</h2>
    {{ form.as_p }}
    </div>
    {% if tips %}
    <p class="tips" > <span>注意事项： </span>{{ tips }}</p>
    {% endif %}
    <div class="line_aside"></div>
    <input type="submit" value="提交" class="add">    
</form>  
{% endblock %}
