{% extends 'master/base.html' %}

{% block htmlhead %}
{% load html_tools %}
{{ 'manage/form.css' | as_css }}
{{ 'admin/org-manage.js' | as_js }}
{% endblock %}

{% block content %}
<div class="add_container">
    <form id="organization-edit-form" method="post">
        <p style="font-size:18px;margin-top:30px;text-indent:5%"><strong>{{ organization.name }}</strong> 组织资料</p>
        <li>
            <label>联系电话</label>
            <input type='text' class='width-400' value="{{ organization.phone }}" id='phone' name='phone' />
        </li>
        <li>
            <label>官方网站</label>
            <input type='text' class='width-400' maxlength="50" value='{{ organization.url }}' id='url' name='url' />
        </li>
        <li>
            <label>Logo</label>
            <input type='text' class='width-400' value='{{ organization.logo }}' id='logo' name='logo'>
        </li>
        <input type="button" class="add" onclick="org_edit({{organization.id}})" value='修改' />
    </form>
</div>
{% endblock %}
