{% extends 'base.html' %}

{% block htmltitle %}
<title>{{ article.title }} - 深圳大学学子天地</title>
{% endblock %}

{% block htmlhead %}
    {% load html_tools %}
    {% load qiniu_tools %}
    <link href="/static/styles/articles/article-phone.css" rel="stylesheet" type="text/css" media="screen and (max-width:767px)" />
    <link href="/static/styles/articles/article-pc.css" rel="stylesheet" type="text/css" media="screen and (min-width:768px)" />
    {{ 'artical.js' | as_js }}
    {{ 'articles/duoshuo.css' | as_css }}
    {{ 'article/comment.js' | as_js }}
{% endblock %}

{% block content %}
    <a href="javascript:void(0)" id="backTop" class="btn" style="bottom: 1.6rem;">
        <div></div>
        <img src="/static/images/articles/top_48.png" alt="顶部" />
    </a>
    <a href="javascript:showsharetools(),showtools()" id="share" class="btn" style="bottom: 1.6rem;">
        <div></div>
        <img src="/static/images/articles/share_48.png" alt="分享" />
    </a>
    <a href="javascript:scroll(0,0)" id="discuss" class="btn" style="bottom: 1.6rem;">
        <div></div>
        <img src="/static/images/articles/comment_48.png" alt="评论" />
    </a>
    <div class="artical-header">
        <div class="artical-cover">
            <img src="{{ article.cover.name | scale_qiniu_img:request}}">
        </div>
        <div class="blur"></div>
        <a href="/" class="back"><img src="/static/images/articles/back.png" alt="back" /></a>
        <p class="artical-title">{{ article.title }}</p>
    </div>
    <div class="artical-main">
        <p class="artical-information">由 {{ article.author }} 发表于 <a href="/articles/{{ article.category.english_name }}/">{{ article.category }}</a></p>
        <div class="artical-text">
        {% autoescape off %}
            {{ article.content |scale_ueditor_img:request}}
        {% endautoescape %}
        </div>
        <div class="artical-foot">
            <p class="editor">责任编辑: {{ article.editor.last_name }}{{ article.editor.first_name }}</p>
            <div class="like-content">
                <!--<img class="left" src="/static/images/like.png"><p  class="left">99999</p>-->
                <p class="artical-time">{{ article.create_date | date:"Y-n-d"}}</p>
                <span class="comment_img"></span><p class="comment_p">{{ article.comments }}</p>
                <span class="eye_img"></span><p class="eye_p">{{ article.click_count }}</p>
                </div>
                <hr />
                <div class="sharebox" id="sharebox">
                    <span>分享到：</span>
                    <a class="backarticalfoot" href="javascript:void(0)"><span class="close_img"></span><p>返回</p></a>
                    <a id="wechat" href="javascript:void(0)" onclick="window.open('/articles/sharewechat?url=http://stu.szu.edu.cn/articles/{{ article.id }}' ,'_blank','scrollbars=0,resizable=0,width=300,height=300,top=100,left=100;return false')"><span class="wechat_img"></span><p>微信</p></a>
                    <a id="weibo" href="http://service.weibo.com/share/share.php?url=http://stu.szu.edu.cn{% url 'articles:display' article.pk %}&title={{ article.title }}-深圳大学学子天地&pic=http://stu.szu.edu.cn{{ article.cover.name }}" target="_blank"><span class="weibo_img"></span><p>微博</p></a>
                    <a id="QQ" href="http://connect.qq.com/widget/shareqq/index.html?url=http://stu.szu.edu.cn{% url 'articles:display' article.pk %}&title={{ article.title }}-深圳大学学子天地&desc=&summary=&site=" target="_blank"><span class="QQ_img"></span><p>QQ</p></a>
                    <a id="twitter" href="http://s.share.baidu.com/?click=1&url=http://stu.szu.cn{% url 'articles:display' article.pk %}&uid=0&to=twi&type=text&pic=&title={{ article.title }}-深圳大学学子天地&key=&desc=&comment=&relateUid=&searchPic=0&sign=on&l=1afglci3o1afglcj3k1afgokghr&linkid=imm21dvnzhc&firstime=" target="_blank"><span class="twitter_img"></span><p>Twitter</p></a>
                </div>
                <a class="foot share" href="javascript:showsharetools()"><img id="share_normal" src="/static/images/articles/share_48.png"><img id="share_active" src="/static/images/articles/share_48.png"><p>分享</p></a>
                <a class="foot comment" href="javascript:void(0)"><img id="comment_normal" src="/static/images/articles/comment_48.png"><img id="comment_active" src="/static/images/articles/comment_48.png"><p>评论</p></a>
                <hr/>

                
                <div class="add-comment">
                    <a class="backarticalfoot" href="javascript:void(0)"></a>
                    <textarea class="addcomment" placeholder="说点什么吧......"></textarea>
                    <!-- to be modified by MoFang --> 
                    <a class="submit" href="javascript:void(0)"></a>
                    <!-- to be modified by MoFang -->
                </div>
                <div class="add-comment-cover">登录完才能评论哦..<a id="loginAndBack" href="http://stu.szu.edu.cn/comment/login?redi=http://stu.szu.edu.cn/articles/{{article.id}}">点这里登录</a></div>
            </div>
        </div>
        <div class="comment-main">
        <!-- Duoshuo Comment BEGIN -->
            <div class="ds-thread" data-thread-key="article-comments-{{ article.id }}" data-title="{{ article.title }}">
            {% if comments %}
                {% for comment in comments %}
                <div class="comments">
                    <div class="user_info">
                        <img class="avatar" src="#" alt="{{comment.author.name}}'s avatar">
                        <p class="name" >{{ comment.author.name }}</p>
                        <p class="c_createtime">{{ comment.created_at }}</p>
                        <
                     <!--   <a class="reply" href="javascript:void(0)"><img src="/static/images/index/reply_32.png"><p>回复</p></a>
                        <a class="like" href="javascript:void(0)"><img src="/static/images/index/unfavorite_32.png"><p>{{ comment.likes }}</p></a>-->
                         <a href="javascript:void(0)" class="deletebtn">删除</a>
                    </div>
                    <span class="message">
                    {% autoescape off %}
                        {{ comment.message }}
                    {% endautoescape %}
                    </span>
                </div>
                {% endfor %}
            {% endif %}
            </div>
        <!-- Duoshuo Comment END -->
        </div>
<!--end of central article-->
{% endblock %}
