.nav a:hover{
	color: #8bc4dc;
}

.subfield li:hover{
	background-color: #a0d8ef;
}

.infor-center li:hover{
	background-color: #a0d8ef;
}

.infor-center a:hover{
	text-decoration: underline;
}

.main{
	width: 950px;
	position: relative;
	margin: 0 auto;
	overflow: hidden;
}

.container{
	width: 100%;
	position: relative;
	overflow: hidden;
}

.slider{
	width: 525px;
	height: 400px;
	background-color: #ffffff;
	position: relative;
	float: left;
	margin-top: 30px;
	overflow: hidden;
}

.infor-center{
	width: 400px;
	height: 400px;
	position: relative;
	float: right;
	margin-top: 30px;
	overflow: hidden;
}

.infor-center img{
	display: block;
	position: absolute;
	bottom: 0px;
	right: 0px;
	z-index: 2;
}

.infor-center li{
	width: 380px;
	position: relative;
	margin: 0 10px;
	overflow: hidden;
	border-bottom: 1px #727272 solid;
	font-family: "Microsoft Yahei";
	font-size: 0px;
}

.infor-center a{
	display: inline-block;
	font-size: 14px;
	color: #000000;
	text-decoration: none;
	text-indent: 10px;
	line-height: 225%;
}

.time-asso{
	width: 100%;
	position: relative;
	overflow: hidden;
}

.time-asso a{
	font-size: 12px;
}

.time-asso span{
	display: inline-block;
	font-size: 12px;
	color: #6a6969;
	text-indent: 10px;
	line-height: 225%;
}

.subfield{
	width: 450px;
	position: relative;
	margin-top: 30px;
	overflow: hidden;
    height: 185px;
    // remove this fixed height can make layout flexible
}

.left{
	float: left;
}

.right{
	float: right;
}

.subfield li{
	width: 100%;
	position: relative;
	overflow: hidden;
	border-bottom: 1px dashed #cccccc;
	font-family: "Microsoft Yahei";
	font-size: 0px;

}

.subfield a{
	display: inline-block;
	width: 350px;
	font-size: 14px;
	color: #000000;
	text-decoration: none;
	text-indent: 10px;
	line-height: 200%;
}

.subfield span{
	display: inline-block;
	width: 90px;
	font-size: 14px;
	color: #6a6969;
	text-align: right;
	margin-right: 10px;
	line-height: 200%;
}

.magazine{
	width: 650px;
	position: relative;
	float: left;
	margin-top: 30px;
	overflow: hidden; 
}

.container h2{
	height: 40px;
	background: url(/static/images/new_index/square.png) no-repeat;
	position: relative;
	font-family: "Microsoft Yahei";
	font-size: 24px;
	color: #2f73a9;
	font-weight: normal;
	line-height: 40px;
	vertical-align: middle;
	text-indent: 64px;
}

.magazine a{
	display: block;
	position: relative;
	float: left;
	margin: 25px 20px;
}

.magazine img{
	border:3px solid #cccccc;
}

.introduction{
	width: 272px;
	position: relative;
	float: left;
	margin: 25px 0;
	overflow: hidden;
}

.introduction h3{
	font-family: "Microsoft Yahei";
	font-size: 18px;
	color: #000000;
	text-align: center;
	line-height: 200%;
}

.introduction p{
	font-family: "Microsoft Yahei";
	font-size: 12px;
	color: #6a6969;
	line-height: 150%;
}

.magazine-line{
	border: 1px #727272 solid;
}

.railway{
	width: 275px;
	height: 425px;
	position: relative;
	margin-top: 30px;
	float: right;
	overflow: hidden;
}

.railway img{
	display: block;
	position: absolute;
	top: 100px;
	right: 20px;
	border: 2px #007bbb solid;
	z-index: 2;
}

.railway h3{
	width: 225px;
	height: 100px;
	background-color: #007bbb;
	position: absolute;
	top:255px;
	right: 20px;
	font-family: "Microsoft Yahei";
	font-size: 18px;
	color: #ffffff;
	font-weight: normal;
	line-height: 100px;
	vertical-align: middle;
	text-align: center;
	z-index: 2
}

.railway-blue{
	width: 270px;
	height: 335px;
	background-color: #a0d8ef;
	position: absolute;
	top: 65px;
	right: 0px;
}
