.banner{
	position: relative;
    max-width: 1366px;
    width: 45.533333rem;
	height: 11.533333rem;
    font-size: 30px;
	overflow: hidden;
}
.blur{
    position: absolute;
    left: 0;
    top: 0;
    width: 45.533333rem;
    height: 11.533333rem;
    background-color: rgba(0,0,0,0.32);
}
.selector{
	position: absolute;
	bottom: 0.466667rem;
	display: block;
	width: 100%;
    text-align: center;
	height: 0.6rem;
	z-index: 20;
}
.round{
	display: inline-block;
	margin-left: 0.6rem;
	width: 0.533333rem;
	height: 0.533333rem;
	background-color: rgba(255,255,255,0.54);
	border-radius: 50%;
}
.round:nth-child(1){
	margin-left:0 ;
}
.active{
	background-color: rgba(91,197,190,0.54);
}
.b-container{
    position: relative;
    width: 227.7666667rem;
    height: 11.533333rem;
    font-size: inherit;
}
.b-container a{
    position: relative;
	display: block;
    max-width: 1366px;
	width: 45.533333rem;
	height: 11.533333rem;
	overflow: hidden;
	text-decoration: none;
    font-size: inherit;
	float: left;
    transition: left 0.5s ease-out;
    -moz-transition: left 0.5s ease-out; /* Firefox 4 */
    -webkit-transition: left 0.5s ease-out; /* Safari 和 Chrome */
    -o-transition: left 0.5s ease-out; /* Opera */
}
.banner img{
	position: absolute;
    top: 0;
	width: 100%;
	height: auto;
	z-index: -1;
}
.infomation{
    position: relative;
    margin: 0 auto;
    width: 32.66667rem;
    height: 11.533333rem;
}
.banner_title{
    position: absolute;
	top: 2.266667rem;
    width: 100%;
    margin: 0 auto;
	color: rgba(255,255,255,0.87);
	font-family: "SourceHanSans-Bold","Roboto-Bold","Microsoft YaHei";
	font-size: 1.6rem;
	letter-spacing: 0.4rem;
	line-height: 1.6rem;
	font-weight: bold;
	text-align: center;
}
.banner_describe{
    position: absolute;
	top: 4.933333rem;
    width: 100%;
	color: rgba(255,255,255,0.87);
	font-family: "SourceHanSans-Light","Roboto-Light","Microsoft YaHei";
	font-size: 0.6rem;
	letter-spacing: 0.16rem;
	line-height: 0.6rem;
    font-weight: 200;
	text-align: center;
}
.banner_category{
    display: block;
    position: absolute;
    top: 7.666667rem;
    width: 100%;
    font-family: "SourceHanSans-Regular","Roboto-Regular","Microsoft YaHei";
    font-size: 0.6rem;
    color: rgba(255,255,255,0.87);
    letter-spacing: 0.16rem;
    line-height: 0.6rem;
    font-weight: normal;
    text-align: center;

}
.main-content{
    position: relative;
    margin:0 auto;
    width: 32.666667rem;
    overflow: hidden;
}
.artical-content{
    overflow: hidden;
    width: 19.333333rem;
    margin-top: 1.6rem;
    float: left;
}
.artical{
    overflow: hidden;
    border-radius: 2px;
    width: 19.333333rem;
    margin-bottom: 1.6rem;
    background-color: rgba(255,255,255,0.87);
    box-shadow: 0 0.033333rem 0.066667rem rgba(0,0,0,0.24);
}
.artical a{
    display: block;
    width: 19.333333rem;
    text-decoration: none;
    box-shadow: 0 0.033333rem 0.066667rem rgba(0,0,0,0.12);
}
.artical a hr{
    display: block;
    width: 17.2rem;
    margin: 0 1.066667rem;
    height: 1px;
    background-color: rgba(0,0,0,0.08);
}
.a-pic{
    display: block;
    width: 19.333333rem;
    height: 11.666667rem;
    text-decoration: none;
}
.a-content{
    position: relative;
    padding: 0.8rem 1.066667rem;  
    width: 17.2rem;
}
.a-title{
    color: rgba(0,0,0,0.87);
    font-family: "SourceHanSans-Regular","Roboto-Regular","Microsoft YaHei";
    font-size: 0.8rem;
    letter-spacing: 0.006rem;
    line-height: 0.8rem;
}
.a-info{
    position: relative;
    height: 0.8rem;
    margin: 0.8rem 0 0.3rem 0;
    color: rgba(0,0,0,0.54);
    font-family: "SourceHanSans-Regular","Roboto-Regular","Microsoft YaHei";
    font-size: 0.6rem;
    letter-spacing: 0.012rem;
    line-height: 0.6rem;
}
.a-intro{
    color: rgba(0,0,0,0.87);
    font-family: "SourceHanSans-Light","Roboto-Light","Microsoft YaHei";
    font-size: 0.6rem;
    letter-spacing: 0.012rem;
    line-height: 1.2rem;
}
.like-content{
    position: relative;
    padding: 0.8rem 1.066667rem;
    height: 0.8rem;
}
.like-content span{
    position: absolute;
    top: 0rem;
    height: 0.8rem;
    width: 0.8rem;
}
.like-content p{
    position: absolute;
    top: 0rem;
    display: block;
    height: 0.8rem;
    max-width: 1.133333rem;
    font-size: 0.466667rem;
    line-height: 0.8rem;
    color: rgba(0,0,0,0.54);
}
.acomments{
    position: absolute;
    right: 3.46667rem;
    width: 2.4rem;
    height: 0.8rem;
}
.comment_img{
    left: 0rem;
    background: url(/static/images/index/comment.png);
    background-size: 100%;
}
.comment_p{
    left: 1.2rem;
}

.aeyes{
    position: absolute;
    right: 1.06667rem;
    width: 2.4rem;
    height: 0.8rem;
}
.eye_img{
    left: 0rem;
    background :url(/static/images/index/eye.png);
    background-size: 100%;
}
.eye_p{
    left: 1.2rem;
}
.left{
    float: left;
}
.right{
    float: right;
}

.side-content{
    display: block;
    margin-top: 1.6rem;
    width: 11.733333rem;
    float: right;
}

.sidenav{
    background-color: rgba();
    width: 11.733333rem;
    background-color: rgba(255,255,255,0.87);
    border-radius: 2px;
    box-shadow: 0 0.033333rem 0.066667rem rgba(0,0,0,0.12);
}
.shadow{
    position: relative;
    width: 11.733333rem;
    height: 100%;
    box-shadow: 0 0.033333rem 0.066667rem rgba(0,0,0,0.24);
}
.card-title{
    position: relative;
    left: 0.8rem;
    padding-top: 0.8rem;
    display: block;
    color: #5BC5BE;
    font-size: 0.6rem;
    font-family: "SourceHanSans-Regular","Roboto-Regular","Microsoft YaHei";
    letter-spacing: 0.12rem;
    font-weight: 600;
}
.nav-content{
    margin: 0 0.8rem;
    padding: 0.533333rem 0 0.133333rem 0;
    width: 10.133333rem;
    overflow: hidden;
    border-bottom: 0.033333rem solid rgba(0,0,0,0.16);
}
.nav-content:nth-last-child(1){
    padding-bottom: 0.6rem;
}

.nav-content a{
    display: block;
    color: rgba(0,0,0,0.54);
    font-size: 0.466667rem;
    font-family: "SourceHanSans-Light","Roboto-Light","Microsoft YaHei";
    letter-spacing: 0;
    font-weight: 400;
    background-color: rgba(0,0,0,0.08);
    float:left;
    margin-right: 0.4rem;
    margin-bottom: 0.4rem;
    padding: 0.266667rem 0.5rem;
    text-decoration: none;
    border-radius: 0.6rem;
    transition: background-color 0.3s ease-out,color 0.3s ease-out;
    -moz-transition: background-color 0.3s ease-out,color 0.3s ease-out; /* Firefox 4 */
    -webkit-transition: background-color 0.3s ease-out,color 0.3s ease-out; /* Safari 和 Chrome */
    -o-transition: background-color 0.3s ease-out,color 0.3s ease-out; /* Opera */
}
.nav-content a:hover{
    background-color: #5BC5BE;
    color: rgb(255,255,255);
}

.nav-content:nth-last-child(1){
    border-bottom: none;
}
.side-card{
    margin-top: 1.6rem;
    background-color: rgba();
    width: 11.733333rem;
    overflow: hidden;
    background-color: rgba(255,255,255,0.87);
    border-radius: 2px;
    box-shadow: 0 0.033333rem 0.066667rem rgba(0,0,0,0.12);
}
.comment{
    position: relative;
    margin: 0.533333rem 0.8rem 0 0.8rem;
    padding-bottom: 0.533333rem;
    width: 10.133333rem;
    border-bottom: 1px solid rgba(0,0,0,0.08);
}
.comment:nth-last-child(1){
    border-bottom: 0;
    padding-bottom: 0.8rem;
}
.comment img:nth-child(1){
    width: 1.733333rem;
    height: 1.733333rem;
    border-radius: 50%;
}
.comment span{
    position: absolute;
    top: 0;
    left: 2.266667rem;
    color: #5BC5BE;
    font-size: 0.466667rem;
    line-height: 0.533333rem;
    letter-spacing: 0.011667rem;
    font-family: "SourceHanSans-Regular","Roboto-Regular","Microsoft YaHei";
}
.comment-source{
    position: absolute;
    top: 0.8rem;
    left: 2.266667rem;
    color: rgba(0,0,0,0.54);
    font-size: 0.466667rem;
    line-height: 0.6rem;
    letter-spacing: 0.011667rem;
    font-family: "SourceHanSans-Light","Roboto-Light","Microsoft YaHei";
}
.comment-value{
    display: -webkit-box;
    overflow : hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    width: 10.133333rem;
    max-height: 2.33rem;
    margin-top: 0.266667rem;
    color: rgba(0,0,0,0.87);
    font-size: 0.466667rem;
    line-height: 0.6rem;
    letter-spacing: 0.011667rem;
    font-family: "SourceHanSans-Light","Roboto-Light","Microsoft YaHei";
}
.comment a{
    display: inline-block;
    padding-top: 0.266667rem;
    text-decoration: none;
    color: #5BC5BE;
    font-size: 0.466667rem;
    font-family: "SourceHanSans-Light","Roboto-Light","Microsoft YaHei";
}
.content{
    margin: 0 0.266667rem 0 0.8rem;
    padding: 0.533333rem 0 0.266667rem 0;
    width: 10.666667rem;
    overflow: hidden;
}
.visitor{
    float:left;
    margin: 0 0.533333rem 0.533333rem 0;
    border-radius: 0.533333rem;
    background-color: rgba(0,0,0,0.08);
    overflow: hidden;
}
.visitor img{
    float: left;
    width: 1.066667rem;
    height: 1.066667rem;
    border-radius: 50%;
}
.visitor p{
    display: block;
    float: left;
    padding-right: 0.133333rem;
    margin: 0.233333rem;
    max-width: 8.4rem;
    height: 0.6rem;
    color: rgba(0,0,0,0.54);
    font-size: 0.533333rem;
    letter-spacing: 0.013333rem;
    line-height: 0.6rem;
    font-family: "SourceHanSans-Light","Roboto-Light","Microsoft YaHei";
    overflow : hidden;
    text-overflow: ellipsis;
    white-space:nowrap; 
}
span.findNext{
    display: block;
    text-align: center;
    font-family: "SourceHanSans-Light","Roboto-Light","Microsoft YaHei";
    font-size: 0.6rem;
    padding: 1.0667rem;
    background-color: rgba(255,255,255,0.87);
}