body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, code,/* text formatting elements 文本格式元素 */
form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */
table, tbody, th, tr, td /* table elements 表格元素 */ 
{
	margin: 0;
	padding: 0;
}

/* 设置一些常用样式 */
ul, ol { list-style: none;}
a { text-decoration: none; }
img { border: 0; }
body { background-color: #eef2f1; font-family: "Microsoft Yahei"; min-width: 1000px; font-weight: normal;}
img.loading { background: url('/static/images/elements/loading-circle.gif') no-repeat center center; }