{% load date_tools %}
{% for plan in plan_list %}
<li class="plan_li">
	{% if plan.is_anon %}
	<p class="plan_author"><span class="show_last_name" style="background-color: {{ plan.author.get_avatar_color_display  }};">匿</span><span class="author_name">{{ plan.alias }}</span></p>
	{% else %}
	<p class="plan_author"><span class="show_last_name" style="background-color: {{ plan.author.get_avatar_color_display  }};">{{ plan.author.szu_name|show_last_name }}</span><span class="author_name">{{ plan.author.szu_name }}</span></p>
	{% endif %}

	<span class="author_szu_org">from: {{ plan.author.szu_org_name }}</span>
	<div class="plan_content">{{ plan.content |linebreaks }}</div>
	{% if plan.plan_record.all %}
	<div class="plan_record_content_box">
		<p class="record_title">计划记录:</p>
		{% for plan_record in plan.plan_record.all %}
		<div class="plan_record">-----&nbsp&nbsp&nbsp{{plan_record.content}}</div>
		<p class="plan_record_function">
			<span class="plan_record_time">{{ plan_record.create_date|from_now }}</span>
			{% ifequal plan.author.szu_no request.session.szu_no %}
			<a class="delete_plan_record_btn" href="javascript:void(0);" data-url="{% url 'summer_plans:delete_plan_record' plan_category.english_name plan_record.pk %}">删除</a>
			{% endifequal %}
		</p>
		{% endfor %}
	</div>
	{% endif %}
	{% if plan.thought %} 
	<p class="plan_thought_box">
		<p class="thought_title">暑假过后:</p>
		<div class="plan_thought">{{ plan.thought |linebreaks}}</div>
	</p>
	{% endif %}
	<div class="function_wrapper clear-fixed">
		<span class="pull-left">
			<span class="create_time">{{ plan.create_date |from_now }}</span>
			{% ifequal plan.author.szu_no request.session.szu_no %}
			<a class="delete_btn" href="javascript:void(0);" data-url="{% url 'summer_plans:delete' plan_category.english_name plan.pk %}">删除</a>

			<a class="add_plan_record_btn" href="javascript:void(0);" data-url="{% url 'summer_plans:add_plan_record' plan_category.english_name plan.pk %}">记录进度</a>
			{% endifequal %}
		</span>
		<span class="right_box pull-right">
			{% if plan_category.tip_time|time_to_on and plan.author.szu_no == request.session.szu_no %}
			<a class="post_thought" href="javascript:void(0);" data-url="{% url 'summer_plans:post_thought' plan_category.english_name plan.pk %}">发表感想</a>

			{% endif %}
			<span id="liked_tip{{plan.pk}}" class="liked_tip {% if request.session.szu_no not in plan.like_persons.all|show_szu_no %} visi_hide {% endif %}">已赞</span>
			
			<img  class="loading visi_hide" id="like_loading{{plan.pk}}" src="/static/images/summer_plans/loading.gif" alt="loading">
			
			<span class="like_btn" data-url="{% url 'summer_plans:like' plan_category.english_name %}?plan_id={{plan.pk}}" data-plan_id="{{ plan.pk }}"><span class="glyphicon glyphicon-thumbs-up"></span></span>
		</span>
	</div>
	
	<div class="like_persons_wrapper {% if not plan.like_persons.all %} hide {% endif %}" id="like_persons_wrapper{{plan.pk}}">
		<img src="/static/images/summer_plans/l.png" alt="love" width="15px" height="15px;">
		<span class="like_persons" id="like_persons{{plan.pk}}">{{ plan.like_persons.all|show_name }}</span>
	</div>
	
</li>
{% endfor %}


{% if plan_list.has_next %}
<div class="page_number">{{ plan_list.number }}</div>
{% else %}
<div class="page_number no_more_tip">没有更多了</div>
{% endif %} 