{% for plan in plan_list %}
<li class="plan_li">
	<p class="plan_author"><a href="#">{{ plan.author.szu_name }}</a></p>
	<p class="plan_content">{{ plan.content }}</p>
	<div class="function_wrapper">
		<span class="create_time">{{ plan.create_date }}</span>
		<span class="icon-thumbs-up like_btn" data-plan_id="{{plan.pk}}"></span>
	</div>
	
	<div class="like_persons_wrapper {% if not plan.like_persons.all %} hide {% endif %}" id="like_persons_wrapper{{plan.pk}}">
		<img src="/static/images/summer_plan/l.png" alt="love" width="15px" height="15px;">
		<span class="like_persons" id="like_persons{{plan.pk}}">{% for person in plan.like_persons.all %}{{ person.szu_name }},{% endfor %}</span>
	</div>
	
</li>
{% endfor %}


{% if plan_list.has_next %}
<div class="page_number">{{ plan_list.number }}</div>
{% else %}
<div class="page_number">没有更多文章了</div>
{% endif %} 
