@CHARSET "UTF-8";

.main {
	width: 70%;
	margin: 0 auto;
  	position: relative;
  	overflow: hidden;
  	clear: both;
  	font-size: 0.7em;
}

.main li {
	list-style: none;
}

.main a img{
	width: 20px;
	height: 20px;
	padding-bottom: 2px;
}
.top-side {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding: 20px;
	border: 0.5px solid #e4e8e7;
	background-color: #ffffff;
}

.top-side img#avater{
	position: relative;
	width: 18%;
	float: left;
}

.top-side .list{
	width: 70%;
	height: 100%;
	margin-left: 5%;
	float: left;
}

.top-side li {
	position: relative;
	overflow: hidden;
	width: 198px;
	margin-bottom: 20px;
}

.top-side a {
	text-decoration: none;
}

.top-side a:link {
	color: #000000;
}

.top-side a:visited {
	color: #000000;
}

.top-side li:hover {
	background-color: #efefef;
}

.list .title{
	position: relative;
	width: 100%;
	height: 40px;
	line-height: 40px;
}

.title h4{
	float: left;
	width: 50%;
	line-height: 40px;
	font-size: 1.4em;
	padding-left: 20px;
}

.title a{
	width: 38%;
	padding:0 0 10px 2%;
	float: left;
}

.title a img{
	padding-bottom: 8px;
}
.list ul{
	position: relative;
	margin:30px 0 0 10px;
}

.list  a img{
	vertical-align: bottom;
}
.list a span {
	margin-left: 10px;
	vertical-align: bottom;
}
.list .space{
	width: 100%;
	height: 40px;
}
.list a#infochange-btn{
	position: absolute;
	margin:20px 20px 0 0;
	right: 50px;
	bottom: 20px;
}

.bottom-side {
	position: relative;
	overflow: hidden;
	width: 80%;
	height: auto !important;
	padding: 20px;
	background-color: #ffffff;
	border: 0.5px solid #e4e8e7;
	margin-top: 30px;
}

.infor {
	width: 80%;
	margin: 0px auto;
}

.info-head h4 {
	width: 60%;
	text-align: center;
	float: left;
	font-size: 1.2em;
}

.info-head a{
	text-decoration: none;
	width: 40%;
	text-align: center;
	color: black;
}

.info-head a img{
	vertical-align: bottom;
}

.info-head span{
	margin-left: 10px;
	vertical-align: bottom;
}

.infor ul {
	width: 100%;
	padding: 20px;
	margin: 0px auto;
	font-size: 16px;
}

.infor li {
	height: 60px;
	width: 100%;
	line-height: 60px;
	border-bottom: 1px solid #eee;
}

.change {
	position: relative;
	overflow: hidden;
	width: 80%;
	margin: 0px auto;
}

.change h4{
	width: 100%;
	text-align: center;
	font-size: 1.2em;
}
.element {
	height: 25px;
	width: 180px;
	font-size: 0.7em;
}

.change ul {
	position: relative;
	overflow: hidden;
	width: 100%;
	padding: 20px;
	margin: 0px auto;
}

.change li {
	position: relative;
	overflow: hidden;
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #eee;
}

.change select{
	height: 30px;
    width: 186px;
    font-size: 0.7em;
}

.select_type {
	height: 25px;
	width: 180px;
}

li#last {
	position: relative;
	overflow: hidden;
	border: none;
	padding: 8px;
	text-align: center;
}

#captcha {
    display: block;
    float: left;
    height: 40px;
    width: 105px;
    line-height: 40px;
}

.captcha {
    display: block;
    float: left;
}

input#confirm_botton {
    position: relative;
    overflow: hidden;
    background: #f18a8b;
    color: #fff;
    border-radius: 2px;
    border-width: 0;
    cursor: pointer;
    display: inline-block;
    padding: 5px 20px;
    height: 40px;   
    font-family: "Microsoft Yahei";
    font-size: 1.2em;
}

input#confirm_botton:hover {
    background: #f1696a;
}

input#confirm_botton:active {
    background: #f18a8b;
}

/*组织发布信息*/

.post {
    width: 80%;
    margin:  0px auto;
}

.post ul {
	width: 530px;
	padding: 0px;
	margin: 0px auto;
}

.post li {
	height: 60px;
    line-height: 60px;
}

.post select {
    height: 28px;
	width: 180px;
	font-size: 0.7em;
}

.post textarea {
    width: 90%;
    height: 300px;
}

.post span {
    left: 0px;
    position: relative;
    top: 0px;
}

.buttons {
    text-align: right;
	margin-top: 30px;
    position: relative;
    top: 495px;
    width: 543px;
}

.button {
	padding: 4px 20px;
	font-size: 15px;
	font-family: "Microsoft Yahei";
}

@media screen and (max-width: 433px){
	.main{
		width: 96%;
	}
}