{% extends 'master/base.html' %}

{% block htmlhead %}
{% load html_tools %}
{{ 'manage/view.css' | as_css }}
{{ 'admin/organization.js' | as_js }}
{% endblock %}

{% block content %}
{% load account_custom %}
<div class="message_view">
    <li style="font-size:18px"><strong>{{ student.screen_name }}</strong> 用户资料</li>
    <div class="line_view"></div>
    <li>邮箱：{{ student.user.email|default:'暂无' }}</li>
    <li>姓名：{{ student.true_name|default:'暂无' }}</li>
    <li>性别：{% if student.is_male == True %}男{%else%}女{%endif%}</li>
    <li>昵称：{{ student.screen_name|default:'暂无' }}</li>
    <li>学院：{{ student | get_college_name }}</li>
    <li>长号：{{ student.mphone_num|default:'暂无' }}</li>
    <div class="line_view"></div>
    <li>注册日期：{{ student.user.date_joined }}</li>
    <li>登录次数：{{ student.login_count }}</li>
    <li>最后登录时间：{{ student.user.last_login|date:'Y-m-d H:i:s' }}</li>
    <li>最后登录IP：{{ student.last_login_ip }}</li>
</div>
{% endblock %}
