<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Language" content="zh-CN" />
    <meta name="robots" content="noindex,nofollow" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>学子天地后台管理</title>
    <link rel="stylesheet" type="text/css" href="./static/css/main.css">
    <script src="./static/js/main.js"></script>
    <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    {% load html_tools %}
    {{ 'manage/base.css' | as_css }}
    {{ 'manage/manage_base.js' | as_js }}
    {{ 'message-box.css' | as_css }}

    {{ 'plugins/jquery.min.js' | as_js }}
    {{ 'plugins/jquery.tools.min.js' | as_js }}
    {{ 'plugins/jquery.form.js' | as_js }}
    {{ 'global.js' | as_js }}
    {{ 'plugins/jquery.form.js' | as_js }}
    {{ 'admin/global.js' | as_js }}
    {{ 'admin/upload.js' | as_js }}
    {% block htmlhead %}{% endblock %}
</head>
{% block beforeload %}{% endblock %}
<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="/manage/index">学子天地后台管理</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" 
            data-target="#example-navbar-collapse">
            <span class="sr-only">Switch</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    {% if user.is_authenticated %}
    <a type="button" class="btn btn-success navbar-right navbar-btn hidden-phone" href="javascript:;" onclick="StuCampus.signOut()">注销</a>
    <a type="button" class="btn btn-default navbar-right navbar-btn hidden-phone" href="{% url 'account:profile' %}">用户信息</a>
    {% else %}
    <a type="button" class="btn btn-success navbar-right navbar-btn hidden-phone" href="{% url 'account:sign_in' %}">登录</a>
    {% endif %}
    <a type="button" class="btn btn-default navbar-right navbar-btn hidden-phone" href="/">学子首页</a> 

    <div class="collapse navbar-collapse" id="example-navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="active"><a href="/manage/index">首页</a></li>
            {% load permission_check %}
            {% if user %}
            {% if perms.articles or perms.magazine or perms.account or perms.szuspeech %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    内容管理
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    {% if perms.articles.article_add %}
                    <li><a href="{% url 'articles:add' %}">添加文章</a></li>
                    <li><a href="{% url 'articles:manage' %}">文章列表</a></li>
                    {% endif %}
                    {% if perms.articles.article_manage %}
                    <li><a href="{% url 'articles:category' %}">文章分类</a></li>
                    {% endif %}
                    {% if perms.magazine.magazine_add%}
                    <li><a href="/magazine/manage/">杂志管理</a></li>
                    {% endif %}
                    <li class="divider"></li>
                    {% if perms.account.website_admin %}
                    <li><a href="{% url 'lecture:manage' %}">讲座信息</a></li>
                    <li><a href="{% url 'activity:manage' %}">活动信息</a></li>
                    {% endif %}
                    {% if perms.szuspeech.manager %}
                    <li><a href="{% url 'szuspeech:manage_list' %}">讲座资源</a></li>
                    <li><a href="{% url 'szuspeech:add' %}">资源添加</a></li>
                    {% endif %}
                </ul>
            </li>
            {% endif %}
            {% if perms.carousels.slide_add %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    焦点图管理
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'carousels:add' %}">添加焦点图</a></li>
                    <li><a href="{% url 'carousels:manage' %}">焦点图列表</a></li>
                </ul>
            </li>
            {% endif %}
            {% if perms.member_infor or perms.account or perms.FreeTimeCount %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    学子管理
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    {% if perms.account.student_manager %}
                    <li><a href="/manage/account/list">用户管理</a></li>
                    {% endif %}
                    <li class="divider"></li>
                    {% if perms.member_infor.member_add %}
                    <li><a href="{% url 'member_infor:add' %}">添加通讯录人员</a></li>
                    <li><a href="{% url 'member_infor:add_list' %}">批量添加通讯录</a></li>
                    <li><a href="{% url 'member_infor:manage' %}">通讯录列表</a></li>
                    {% endif %}
                    {% if perms.member_infor.member_manage %}
                    <li><a href="{% url 'member_infor:pending_approve_members'%}">申请通讯录列表</a></li>
                    {% endif %}
                    <li class="divider"></li>
                    {% if perms.FreeTimeCount.usable %}
                    <li><a href="{% url 'FreeTimeCount:index'%}">空闲时间</a></li>
                    {% endif %}
                </ul>
            </li>
            {% endif %}
            {% if perms.organization.organization_manager or perms.dreamer.manager %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    其他
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    {% if perms.organization.organization_manager %}
                    <li><a href="/manage/organization/list">组织管理</a></li>
                    <li><a href="/manage/organization">组织概况</a></li>
                    {% endif %}
                    {% if perms.dreamer.manager %}
                    <li><a href="/dreamer/manage">报名管理</a></li>
                    {% endif %}
                </ul>
            </li>
            {% endif %}
            {% endif %}
        </ul>
    </div>
</nav>

<div class="content" id="layout_content">
{% block content %}
{% endblock content %}
</div>

<div id="footer">
            <p>Powered By 深圳大学学子天地 技术部 Copyright &copy; 2010-2016 深圳大学学子天地 站务委员会</p>
        </div>
</body>
</html>
