<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>Title</title>
    {% load html_tools %}
    {{ 'christmas/weui.css' | as_css }}
    {{ 'christmas/index.css' | as_css }}
</head>
<body>
    <div class="weui-msg">
        <div class="title">
            <h2>圣诞礼物交换平台</h2>
            <p>在这个平台，你可以进行礼物交换</p>
        </div>
        <div class="weui-msg__title">您好--{{ user.name }}</div>
        <div class="weui-msg__desc">请选择您要做的操作</div>
        <div class="weui-flex weui-msg__opr-area center">
            <div class="weui-btn-area">
                <a class="weui-btn weui-btn_primary" href="giftList/" >我要送礼</a>
                <a href="giftResult/" class="weui-btn weui-btn_primary">我收到的礼物</a>
            </div>
        </div>
    </div>
</body>
</html>
