{% extends 'master/base.html' %}
{% block htmlhead %}
{% load html_tools %}
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
{{ 'christmas/manage.js' | as_js }}
{% endblock %}
{% block content %}
        <div class="container">
		<form class="form-horizontal" role="form" method="GET">
              		<div class="form-group">
                		<label for="inputPassword" class="col-sm-1 control-label">查找信息</label>
                		<div class="col-sm-3">
                  			<input type="text" class="form-control" name="search" placeholder="输入要查找的姓名或礼物ID">
                		</div>
                  		<button type="submit" class="btn btn-default">查找</button>
              		</div>
            	</form>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>礼物ID</th>
                            <th>礼物名称</th>
                            <th>拥有者/学号</th>
                            <th>标记收到</th>
                            <th>是否交换</th>
                            <th>获得该礼物的人</th>
                            <th>获得者联系方式</th>
                        </tr>
                    </thead>
                    {% for gift in gift_list %}
                        <tr>
                            <td>{{ gift.giftId }}</td>
                            <td><a href="gift?id={{ gift.id }}">{{ gift.name }}</a></td>
                            <td><a href="user?id={{ gift.own.id }}">{{ gift.own.name }}/{{ gift.own.stu_no }}</a></td>
                            <td>
                                {% if not gift.isGet %}
                                <button class="btn-xs btn-default btn-get" name="{{ gift.id }}">收到</button>
                                {% else %}
                                <button class="btn-xs btn-default btn-get" disabled="disabled" name="{{ gift.id }}">收到</button>
                                {% endif %}
                            </td>
                            {% if gift.isExchange %}
                            <td>√</td>
                            <td> --- </td>
                            <td> --- </td>
                            {% else %}
                            <td>×</td>
                            <td> {{ gift.givengift.givenPerson }} </td>
                            <td> {{ gift.givengift.givenPhone }} </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>
                <ul class="pagination">
                    {% if gift_list.has_previous %}
                        <li><a href="?page=1">首页</a></li>
                        <li><a href="?page={{ gift_list.previous_page_number }}">&laquo;</a></li>
                    {% endif %}
                    <li><span class="current">
                        Page {{ gift_list.number }}
                    </span></li>
                    {% if gift_list.has_next %}
                    <li><a href="?page={{ gift_list.next_page_number }}">&raquo;</a></li>
                    {% endif %}
                </ul>
        </div>
{% endblock %}
