<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>免责声明</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    {% load html_tools %}
    {{ 'christmas/weui.style.css' | as_css }}
    {{ 'christmas/weui.css' | as_css }}
</head>
<body>
<div class="weui-msg">
        <div class="weui-msg__icon-area"><i class="weui-icon-warn weui-icon_msg"></i></div>
        <div class="weui-msg__text-area">
            <h2 class="weui-msg__title">注意</h2>
            <p class="weui-msg__desc">内您需要先阅读<a href="/christmas/readDetail/">免责声明</a></p>
        </div>
        <div class="weui-msg__opr-area">
            <p class="weui-btn-area">
                <form action="" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="我已阅读并同意" class="weui-btn weui-btn_primary">
                </form>
            </p>
        </div>
 </div>
<!-- 百度统计start -->
<script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?4d0c962b688eb374c3f0a499db3087a4";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
</script>
<!-- 百度统计end -->
</body>
</html>
