{% extends 'account/base.html' %}
{% block htmltitle %}<title> {{ user.student.screen_name }} - 用户中心 - 深圳大学学子天地</title>{% endblock %}
{% block inside %}
    <div class="change">
            <h4>修改{{ user.student.screen_name }}的密码</h4>
            <form method="POST" action="/account/profile/password" id="changeInfor">
            {% csrf_token %}
            <input type='hidden' name='current_email' value='{{ user.email }}' />
            <ul>
                <li>
                    <label>当前密码</label><span>：</span>
                    <input type="password" name="current_password" class="element" value="" />
                </li>
                <li>
                    <label>新密码</label><span>：</span>
                    <input type="password" name="new_password" class="element" value=""/>
                </li>
                <li>
                    <label>密码确认</label><span>：</span>
                    <input type="password" name="confirm" class="element" value="" />
                </li>
                <li id="last">
                    <input type="submit" value="确认修改" id="confirm_botton" onclick="confirm('确认修改密码？')" />
                </li>
            </ul>
        </form>
    </div>
    
{% endblock %}