{% extends 'base.html' %}

{% block htmlhead %}
    {% load html_tools %}
    {{ 'account/signup.css' | as_css }}
    {{ 'account/sign-in.js' | as_js}}
{% endblock %}

{% block content %}
    <div class="page-center master-framework">
        <h2 class="top-second-header">用户登录</h2>
        <form id="sign-in-form" method="post" action="/account/signin" class="large-element">
        {% csrf_token %}
            <ul>
                <li>
                    <label class="label" for="email">邮箱</label>
                    <input type="textbox" class="textbox" id="email" name="email" />
                    <span class="comment">用户邮箱</span>
                </li>
                <li>
                    <label class="label" for="password">密码</label>
                    <input type="password" class="textbox" id="password" name="password" />
                    <span class="comment">登录密码</span>
                </li>
                <li class="buttons">
                    <input type="submit" class="button" value="登录" id="sign-in-btn" />
                    <input type="button" class="button" value="注册" id="sign-up-btn" /> 
                </li>
            </ul>
        </form>
    </div>
{% endblock %}
