{% extends 'base.html' %}

{% block htmlhead %}
    {% load html_tools %}
    {{ 'account/signup.css' | as_css }}
    {{ 'account/sign-up.js' | as_js }}
{% endblock %}

{% block content %}
    <div class="page-center master-framework">
        <form id="sign-up-form" method="post" action="/account/signup" class="large-element">
        {% csrf_token %}
            <ul>
                <li>
                    <label class="label" for="email">邮箱</label>
                    <input type="textbox" class="textbox" id="email" name="email" />
                    <span class="comment">常用的邮箱，作为登录用户名</span>
                </li>
                <li>
                    <label class="label" for="password">密码</label>
                    <input type="password" class="textbox" id="password" name="password" />
                    <span class="comment">最少 6 位</span>
                </li>
                <li>
                    <label class="label" for="confirm">密码确认</label>
                    <input type="password" class="textbox" id="confirm" name="confirm" />
                    <span class="comment">再输入一次密码</span>
                </li>
                <li class="buttons">
                    <input type="submit" class="button" value="马上注册" />
                </li>
            </ul>
        </form>
    </div>
{% endblock %}
