{% extends 'master/base.html' %}

{% block htmlhead %}
    {% load html_tools %}
    {{ 'manage/list.css' | as_css }}
    {{ 'manage/magazine.css' | as_css }}
{% endblock %}

{% block content %}

<table id="magazine_list">
	<thead>
		<tr>
			<td>杂志</td>
		    <td>标题</td>
		    <td>期数</td>
		    <td>操作</td>
		</tr>
	</thead>
	<tbody>
		{% for magazine in list %}
			<tr>
				<td>{{ magazine.name }}</td>
				<td><a href="{{MEDIA_URL}}{{ magazine.pdf_file }}" target="_blank">{{ magazine.title }}</a></td>
				<td>{{ magazine.issue }}</td>
				<td>
					<a href="{% url 'magazine:modify' %}?id={{ magazine.id }}">修改</a>
					<a href="{% url 'magazine:delete' %}?id={{ magazine.id }}">删除</a>
				</td>
			</tr>
		{% empty %}
			<tr><td colspan="4">无杂志</td></tr>
		{% endfor %}
	</tbody>
</table>
<a href="{% url 'magazine:add' %}" class="add">新增</a>
{% endblock %}
