{% block htmlhead %}
{% load html_tools %}
{{ 'plugin/paginator.css' | as_css }}
{% endblock %}
<div class="page">
        <a href="?page=1">首页</a>
    {% if page.has_previous %}
        <a href="?page={{ page.previous_page_number }}">上一页</a>
    {% endif %}
        <span class="present">第{{ page.number }}页/共{{ page.paginator.num_pages }}页/共{{ page.paginator.count }}项</span>
    {% if page.has_next %}
        <a href="?page={{ page.next_page_number }}">下一页</a>
    {% endif %}
        <a href="?page={{ page.paginator.num_pages }}">尾页</a>
</div>