{% extends 'base.html' %}

{% block htmltitle %}
<title>学子天地招新报名</title>
{% endblock %}

{% block htmlhead %}
	{% load html_tools %}
	{{ 'dreamer/apply_mobile.css' | as_css }}
	{{ 'dreamer/apply_mobile.js' | as_js }}
{% endblock %}

{% block content %}
<!-- 主体  Begin -->
<div class="sign_form">
	<h1 class="first">报名表</h1>
	<ul class="department_img">
		<li>
			<img src="/static/images/dreamer/xingzheng.png">
			<p>行政部</p>
			<span class="retangle"></span>
		</li>
		<li>
			<img src="/static/images/dreamer/jishu.png">
			<p>技术部</p>
			<span class="retangle"></span>
		</li>
		<li>
			<img src="/static/images/dreamer/caibian.png">
			<p>采编部</p>
			<span class="retangle"></span>
		</li>
		<li>
			<img src="/static/images/dreamer/yunying.png">
			<p>运营部</p>
			<span class="retangle"></span>
		</li>
		<li>
			<img src="/static/images/dreamer/sheji.png">
			<p>设计部</p>
			<span class="retangle"></span>
		</li>
	</ul>
	<div class="department_infor ">
		<p class="click_more">点击部门了解更多</p>
		<p class="xingzheng">行政部如同学子天地的大脑，负责办公室事务，主要进行会议策划组织，落实组织内部制度执行情况，以严肃活泼的态度保证学子天地工作的正规化、系统化和科学性。这支高度规范化的队伍正在招新。
		</p>
		<p class="jishu">若是生于大航海时代，<br>我们就会毫不犹豫选择出海。<br>今互联网之时代，我们便敲起了键盘。<br>代码如诗，我们为读到漂亮的程序而兴奋；<br>文档如山，我们为辟出完美的路径而探索。<br>先驱者们激励着我们，BUGS鞭策着我们。<br>我们对知识的读取恨不能多线程，<br>然而时光的释放并不能撤销。<br>我们编写网站，我们开发App，<br>我们维护服务器，我们......<br>我们是学子天地技术部，<br>我们挖坑，我们埋下种子。<br>
		</p>
		<p class="caibian">采编君一直在努力为同学们奉献精致深刻、贴近生活的好作品。在这个高尚理想的驱动下，采编君去年新增了深大摄影和人物专访版块。新版块与原有版块相辅相成，拉近了学子天地君与同学们的距离，奠定了采编君深入同学校园生活、展现同学高光时刻的基调。哼着这个基调，采编君想要跟更多的新生同学们做好朋友!
		</p>
		<p class="yunying">运营部作为学子天地里比较年轻的部门，肩负着大胆创新，突破自我的重任。<br>运营有很多方向，涵盖了大到一个组织、一个活动，小到一个产品的宣传推广，如何在人群中提高自身的知名度。还有对已有产品功能反馈信息进行数据分析进而做出后续功能设计开发以及其他不足处改进的决策。目前的工作重点放在新媒体的运营上，借着学子天地的优势，有很多实战的机会。我们不仅针对每一个新功能实现进行微信、微博上的推送宣传，我们还会进行站点的数据分析进而开始后续新功能的策划开发，当然我们还会管理运营。欢迎每一个有想法、有能力的你加入我们。
		</p>
		<p class="sheji">设计部从事网站页面和周边产品的设计，在掌握各类设计工具如PS、AI的基础上，运用平面设计和网页设计的相关技术、为用户呈现最佳的视觉体验。<br>这里的设计师们相信任何一个微小的细节都能带给用户不同的感受，产生巨大的影响。<br>文字是另一种形式的图形可它往往更难处理，色彩永远是我内心深处最痛的地方。<br>我们还相信这份坚持和执着能吸引有着相同信念的人加入，和我们并肩作战。<br>我们是一群没有灵感便不能活的人，我们是一群不倔强就会死的人，我们从一切事务与情绪中疯狂地汲取灵感，我们在死线面前对全部细节与原则仍着魔般地坚持。<br>HELLO IDEA，我们跳支舞吧<br>
		</p>
	</div>
	<div class="dreamer_infor">
		<form action="{% url 'dreamer:signup' %}" method="post">
			{% csrf_token %}
			<div class="department_select big_box">
				<h3 class="first">告诉我，你更喜欢哪两个部门：
				</h3>
				<p>{{ form.dept1 }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.dept2 }}
				</p>
			</div>
			<div class="stu_message big_box">
				<input  type="text" id="name" maxlength="26" name="name" value="姓名" onfocus="if(this.value=='姓名') {this.value='';}" onblur="if(this.value=='') {this.value='姓名';}" />
				<p class="sex">
					<select name="gender" id="gender">
						<option value="sex1" selected="selected" readonly="readonly">性别</option>
						<option value="male">男</option>
						<option value="female">女</option>
					</select>
				</p>
				<input type="text" maxlength="11" id="stu_ID" name="stu_ID" value="学号" onfocus="if(this.value=='学号') {this.value='';}" onblur="if(this.value=='') {this.value='学号';}" />
				<input type="text" maxlength="30" id="college" name="college" value="学院" onfocus="if(this.value=='学院') {this.value='';}" onblur="if(this.value=='') {this.value='学院';}"/>
				<input type="text" id="tel" maxlength="11" name="mobile" name="mobile" value="手机号码" onfocus="if(this.value=='手机号码') {this.value='';}" onblur="if(this.value=='') {this.value='手机号码';}"/>
			</div>
			<div class="hobby big_box">
				<textarea class="text" name="self_intro" rows="10" id="self_intro" cols="10"  onfocus="if(this.value=='写下你的自我介绍（喜欢的运动、爱好特长等）') {this.value='';}" onblur="if(this.value=='') {this.value='写下你的自我介绍（喜欢的运动、爱好特长等）';}" onKeyDown="checkLen(this)" onKeyUp="checkLen(this)">写下你的自我介绍（喜欢的运动、爱好特长等）</textarea>
				<p><span id="count">0</span>/500</p>
				<input type="submit" value="报名" id="sub" onMouseOver="Judge()" onMouseDown="notify()" />
			</div>
		</form>
	</div>

</div>
<!-- 主体  End -->
{% endblock %}



