<html>
<head>
	<meta charset="UTF-8">
	<title>学子报名</title>
</script>


<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1" /> 
<link href="http://www.imooc.com/data/jquery-ui.css" rel="stylesheet" type="text/css" />
</head>
{% block htmlhead %}
{% load html_tools %}
{{ 'dreamer/apply.css' | as_css }}
{{ 'dreamer/apply.js' | as_js }}
{{ 'plugins/jquery.min.js' | as_js }}
{{ 'plugins/jquery.tools.min.js' | as_js }}
{{ 'plugins/jquery.form.js' | as_js}}
{% endblock %}

<body>
	<div class="part_one">
		<div class="stucampus"><img src="/static/images/dreamer/logo.png"></div>
		<p>学子天地网站始建于2001年，</p>
		<p>是共青团深圳大学团委员领导下全面反映学生生活及服务学生的综合性网站，</p>
		<p>也是深圳大学校内唯一由学生自由运营的综合性网站。</p>
		<h1>You may say I'm a dreamer,but I'm not the only one.</h1>
	</div>
	<div class="part_two">
		<div>
			<div class="photo_box"><img src="/static/images/dreamer/1.jpg"></div>
			<div class="photo_depart">
				<p class="Noborder">技术部</p>
				<a href="" >等你加入</a>
				<div class="retangle1"></div>
			</div>
		</div>
		<div>
			<div class="photo_box"><img src="/static/images/dreamer/2.jpg"></div>
			<div class="photo_depart">
				<p class="Noborder">行政部</p>
				<a href="" >等你加入</a>
				<div class="retangle1"></div>
			</div>
		</div>
		<div class="photo_box"><img src="/static/images/dreamer/5.jpg"></div>
		<div>

			<div class="photo_depart">
				<p class="Noborder">设计部</p>
				<a href="" >等你加入</a>
				<div class="retangle2"></div>
			</div>
			<div class="photo_box"><img src="/static/images/dreamer/3.jpg"></div>
		</div>
		<div>
			<div class="photo_depart">
				<p class="Noborder">采编部</p>
				<a href="" >等你加入</a>
				<div class="retangle2"></div>
			</div>
			<div class="photo_box"><img src="/static/images/dreamer/4.jpg"></div>
		</div>
		<div class="photo_depart">
			<p class="Noborder">运营部</p>
			<a href="" >等你加入</a>
			<div class="retangle3"></div>
		</div>
	</div>
	<div class="part_three">
		<form action="" method="post">
			{% csrf_token %}
			<div class="selectDepartment">
				<h1>告诉我你更喜欢哪个部门:</h1>
				<h1>
					{{ form.dept1 }}
					或者
					{{ form.dept2 }}
				</h1>
			</div>	
			<div class="hr_60"></div>
			<div class="resume">
				<textarea name="self_intro" rows="10" id="hobby" cols="100"  onfocus="if(this.value=='写下你的自我介绍（喜欢的运动、爱好特长等）') {this.value='';}" onblur="if(this.value=='') {this.value='写下你的自我介绍（喜欢的运动、爱好特长等）';}" onKeyDown="textCounter(hobby,remainmLen,500);" onKeyUp="textCounter(hobby,remainLen,500)">写下你的自我介绍（喜欢的运动、爱好特长等）</textarea>
				<p>您还可以输入:<input name="remainLen" type="text" value="500" readonly="readonly">个字符</p> 							
				<div class="Stu_message">
					<input type="text" id="name" maxlength="26" name="name" value="姓名" onfocus="if(this.value=='姓名') {this.value='';}" onblur="if(this.value=='') {this.value='姓名';}" />
					<input type="text" maxlength="11" id="number" name="stu_ID" value="学号" onfocus="if(this.value=='学号') {this.value='';}" onblur="if(this.value=='') {this.value='学号';}" />
					<input type="text" maxlength="30" id="college" name="college" value="学院" onfocus="if(this.value=='学院') {this.value='';}" onblur="if(this.value=='') {this.value='学院';}"/>
					<input type="text" id="tel" maxlength="11" name="mobile" value="手机号码" onfocus="if(this.value=='手机号码') {this.value='';}" onblur="if(this.value=='') {this.value='手机号码';}"/>
					<div class="">
						<select name="gender" id="sex">

							<option value="male">男</option>
							<option value="female">女</option>
						</select>
						<input type="submit" value="报名" id="sub" onMouseOver="Judge()" onMouseDown="notify()"/>
					</div>
				</div>
			</div>
		</form>

	</div>
</body>
</html>
