{% extends 'master/base.html' %}
{% block htmlhead %}
{% load html_tools %}
{{ 'dreamer/detail.css' | as_css }}
{{ 'manage/account.css' | as_css }}
{% endblock %}
{% block beforeload %}

{% endblock %}
{% block content %}
<h3>{{ title }}</h3>
		<div  id='ha'></div>
        <div class="content">
				<table>
					<tr>
						<th>姓名:</th>
						<td class="name">{{ app.name }}</td>
					</tr>
					<tr>
						<th>性别:</th>
						<td class="sex">{{ app.get_gender_display }}</td>
					</tr>
					<tr>
						<th>学号:</th>
						<td class="stu_id">{{ app.stu_ID }}</td>
					</tr>
					<tr>
						<th>学院:</th>
						<td class="college">{{ app.college }}</td>
					</tr>
					<tr>
						<th>手机号:</th>
						<td class="mobile">{{ app.mobile }}</td>
					</tr>
					<tr>
						<th>第一志愿:</th>
						<td class="desired_dept_1">{{ app.get_dept1_display }}</td>
					</tr>
					<tr>
						<th>第二志愿:</th>
						<td class="desired_dept_2">{{ app.get_dept2_display }}</td>
					</tr>
					<tr>
						<th>自我介绍：</th>
						<td class="introduce">{{ app.self_intro }}</td>
					</tr>
				</table>
		</div>
		<div class="dialog_modal"></div>
		<div class="management">
			<a href="{% url 'dreamer:delete' %}?id={{ app.id }}" class="btn_delete">删除</a>
			<a href="{% url 'dreamer:modify' %}?id={{ app.id }}" class="btn_modify">修改</a>
		</div>
	</div>
<script type="text/javascript">

		$(function () {
                $(".btn_delete").bind("click", function () { //询问按钮事件
                    if ($(".name").html() != null) { //如果对象不为空
                    	var url=$(".btn_delete").attr("href");//跳转到该url
                    	sys_Confirm("您真的要删除该报名者信息吗？",url);
                    	return false;
                    }
                });
            });
            function sys_Confirm(content,url) { //弹出询问信息窗口
            	$(".dialog_modal").dialog({
            		height: 100,
            		modal: true,
            		title: '系统提示',
            		buttons: {
            			'确定': function () {
            				location.href =url;//实现删除后的跳转
            				$(this).dialog("close");
            			},
            			'取消': function () {
            				$(this).dialog("close");
            			}
            		},
            		open: function (event, ui) {
            			$(this).html(content)
            		}
            	});
            }
            
        </script>
</script>
{% endblock %}
