<html>
<head>
	<meta charset="UTF-8">
	<title>报名失败</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1" /> 
	<link rel="stylesheet" type="text/css" href="/static/styles/dreamer/fail_pc.css" media="only screen and (min-width:480px)" />
	<link rel="stylesheet" type="text/css" href="/static/styles/dreamer/fail_mobile.css" media="only screen and (max-width:480px)" />
</head>
<body>
	<div class="header_img">
		<img src="/static/images/dreamer/fail.jpg">
		<div class="header_content">
			<p class="Chinese">报名失败</p>
			<p class="English">I'm sorry.</p>
		</div>

	</div>
	<div class="failure_box">
		<div class="failure_content">
			{% if tip %}
			<h3>{{tip}}</h3>
			{% else %}<h3>您可能已经报名或填写的信息有误</h3>
			{%endif%}
			<p>你可以：</p>
			<p><a href="/dreamer/signup">返回继续报名</a><a href="">查询是否报名</a></p>
		</div>
	</div>
</body>
</html>
