{% extends 'master/base.html' %}
{% block htmlhead %}
{% load html_tools %}
{{ 'dreamer/list.css' | as_css }}
{{ 'manage/account.css' | as_css }}
<style type="text/css">
	.function_bar
	{
		padding: 10px;
		margin: 5px 10px;
		background-color: #38c2a8;
		color:#fff;
		display: inline-block;
	}
	h3
	{
		text-align: center;
	}
</style>
<script type="text/javascript">
	
</script>
{% endblock %}
{% block content %}	
		<form action="/dreamer/manage/" method="GET" class="function_bar">
			<label for="grade">年级:
				<select id="grade" name="grade">
					<option value="2014">2014</option>
					<option value="2015">2015</option>
					<option value="2016">2016</option>
				</select>
			</label>
			<label>部门:
				<select id="dept" name="dept">
					<option value="--" select="selected">所有</option>
					<option value="jsb">技术部</option>
					<option value="sjb">设计部</option>
					<option value="xzb">行政部</option>
					<option value="yyb">运营部</option>
					<option value="cbb">采编部</option>
				</select>
			</label>
			<input id="select_grade_dept_btn" type="submit" value="查询">
		</form>
		<label class="function_bar">年级报名概况:
			<select onchange="window.location=this.value;">
				<option value="/" select="selected">年份</option>
				<option value="{% url 'dreamer:show_situation' 2014 %}">2014</option>
				<option value="{% url 'dreamer:show_situation' 2015 %}">2015</option>
				<option value="{% url 'dreamer:show_situation' 2016 %}">2016</option>
			</select>
		</label>
		<a href="{% url 'dreamer:add' %}" class="function_bar">添加报名者</a>
		<h3>{{ title }}</h3>
		<div class="search_form">
			<form method="GET" action='/dreamer/manage/search/'>
				<input name='search' class="search_input" type="text">
				<input class="search_btn" type="submit" value="搜索">
			</form>
		</div>	
		<div class="content">
			<table border="1px">
				<tr>
					<th>姓名</th>
					<th>性别</th>
					<th>学院</th>
					<th>年级</th>
					<th>学号</th>
					<th>手机号</th>
					<th>第一志愿</th>
					<th>第二志愿</th>
				</tr>
                	{% for resource in page %}
				<tr>
					<td><a href="{% url 'dreamer:detail' %}?id={{ resource.id }}">{{ resource.name }}<a></td>
					<td>{{ resource.get_gender_display }}</td>
					<td>{{ resource.college }}</td>
					<td>{{ resource.grade }}</td>
					<td>{{ resource.stu_ID }}</td>
					<td>{{ resource.mobile }}</td>
					<td>{{ resource.get_dept1_display }}</td>
					<td>{{ resource.get_dept2_display }}</td>
				</tr>
                	{% endfor %} 
			</table>
			<div class="pagination">
                		<a href="?search={{ search }}&&page=1" class="prev">首页</a>
                		{% if page.has_previous %}
                		    <a href="?search={{ search }}&&page={{ page.previous_page_number }}" class="prev">上一页</a>
                		{% endif %}
                		<span>第 {{ page.number }} 页，共 {{ page.paginator.num_pages }} 页</span>
                		{% if page.has_next %}
                		    <a class="next" href="?search={{ search }}&&page={{ page.next_page_number }}">下一页</a>
                		{% endif %}
                		<a href="?search={{ search }}&&page={{ page.paginator.num_pages }}" class="next" >尾页</a>
        		</div>
		</div>
	</div>
{% endblock %}
