{% extends 'master/base.html' %}

{% block htmlhead %}
{% load html_tools %}
{{ 'manage/list.css' | as_css }}
{{ 'manage/account.css' | as_css }}
{% endblock %}

{% block content %}
<div class="list_title">
    <span style="width:25%">学号</span>
    <span style="width:20%">姓名</span>
    <span style="width:20%">学院</span>
    <span style="width:15%">性别</span>
    <span style="width:15%">操作</span>
</div>
<div class="message_container">
{% for resource in page %}
    <li>
        <a href="{% url 'dreamer:view' %}?id={{ resource.id }}">
            <span style="width:25%">{{ resource.stu_num }}</span>
            <span style="width:20%">{{ resource.name }}</span>
            <span style="width:20%">{{ resource.college }}</span>
            <span style="width:15%">{{ resource.sex }}</span>
        </a>
            <span style="width:15%"><a href="{% url 'dreamer:view' %}?id={{ resource.id }}">查看详情</a></span>
    </li>
    <div class="line_list"></div>
{% endfor %}
</div>
    {% include 'plugin/paginator.html' with page=page %}
{% endblock %}



   {% for resource in page %}
    <a href="{% url 'dreamer:view' %}?id={{ resource.id }}">
    
    <li>
    <label>学号</label>
        
    <li>

    <label>姓名</label>
        
    <li>

    <label>学院</label>
        
    <li>

    <label>性别</label>
        
    <li>

    </a>
    {% endfor %}