<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Language" content="zh-CN" />
    <title>加入我们手机版 - 深圳大学学子天地</title>
    <link href="/static/styles/dreamer/mobi_form.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="HandheldFriendly" content="true" />
</head>
<body>
    <div class="content">
        <h1>深圳大学学子天地社团招新</h1>
        <p>
            很高兴遇到你！这次学子天地社团招新宣传传单共有四张，想必你也拥有至少其中一张。想更深入了解学子天地吗？让小编来好好介绍下吧。<strong>拖动至本页底部有招新报名方式，欢迎感兴趣的同学加入！</strong>
        </p>
        <p style="text-align: center;"><a class="icon" href="#form">我要报名</a></p>
        <p>
            学子天地网站始创于2001年，是共青团深圳大学团委员领导下全面反映学生生活及服务学生的综合性网站，也是深圳大学校内唯一由学生自由运营的官方传媒网站。
        </p>
        <p style="text-align: center;"><a class="icon" href="#form">我要报名</a></p>
        <p>
            现在，学子天地社团共有四个部门。分别是<strong>采编部、办公室、美工部、技术部</strong>。
        </p>
        <p>
            <strong>采编部</strong>是学子天地的灵魂。采编部的才子才女们重视发布的每一个文字，每一张图片，生怕它们不能完整表达学子天地的态度。你是我最苦涩的等待，让我欢喜又害怕未来！
        </p>
        <p style="text-align: center;"><a class="icon" href="#form">我要报名</a></p>
        <p>
            <strong>办公室</strong>是学子天地的心脏。办公室人接触着各种各样的行政工作，以严肃活泼的态度，保证学子天地这个社团机器的高效运行，生生不息。这支高度规范化的队伍正在招新。
        </p>
        <p style="text-align: center;"><a class="icon" href="#form">我要报名</a></p>
        <p>
            <strong>美工部</strong>是学子天地的衣装。美工部人认为，每一个像素都要在正确的位置，每一种颜色都要舒适地表达。来吧，一起在完美主义与Deadline之间寻找我们的位置！
        </p>
        <p style="text-align: center;"><a class="icon" href="#form">我要报名</a></p>
        <p>
            <strong>技术部</strong>是学子天地的筋骨。技术部人有着一股Geek精神，信仰代码如诗。得益于技术部的强力驱动，学子各项网络服务常年稳定如新。快来领取启动人生的权限！
        </p>

        <p style="text-align: center;"><a class="icon" href="#form">我要报名</a></p>
        <p><center>顺便掏出爪机扫一下二维码吧</center></p>
        <p><center>关注学子天地微信公众号： stucampus</center></p>
        <p><center><img src="/static/images/socialaccount/stucampusweixin.jpg" width="256px" height="256px" alt="微信" /></p>
    </div>

        <div class="joinus" id="form">
            <form method="post" action="">
            {% csrf_token %} 
            <h2>报名加入</h2>
            <p>
                <label for="sid">学号</label>
                {{ form.stu_num }}
                <span class="error">
                {% for error in form.stu_num.errors %}
                    {{ error }}
                {% endfor %}
                </span>
            </p>
            <p>
                <label for="studentname">姓名</label>
                {{ form.name }}
                <span class="error">
                {% for error in form.name.errors %}
                    {{ error }}
                {% endfor %}
                </span>
            </p>
            <p>
                <label for="college">学院</label>
                {{ form.college }}
                <span class="error">
                {% for error in form.college.errors %}
                    {{ error }}
                {% endfor %}
                </span>
            </p>
            <div>
                <label>性别</label>
                {{ form.sex }}
                <span class="error">
                {% for error in form.sex.errors %}
                    {{ error }}
                {% endfor %}
                </span>
            </div>
            <div>
                <label>志愿（可多选）</label>
                {{ form.volunteers }}
                <span class="error">
                {% for error in form.volunteers.errors %}
                    {{ error }}
                {% endfor %}
                </span>
            </div>
            <p>
                <label for="sport">联系手机号</label>
                {{ form.telphone }}
                <span class="error">
                {% for error in form.telphone.errors %}
                    {{ error }}
                {% endfor %}
                </span>
            </p>
            <p>
                <label for="sport">喜欢的运动</label>
                {{ form.fav_sports }}
                <span class="error">
                {% for error in form.fav_sports.errors %}
                    {{ error }}
                {% endfor %}
                </span>
            </p>
            <p>
                <label for="interest">兴趣与特长</label>
                {{ form.interest }}
                <span class="error">
                {% for error in form.interest.errors %}
                    {{ error }}
                {% endfor %}
                </span>
            </p>
            <p style="text-align: center; border: none;">
                <input type="submit" class="formbutton" value="提交报名" />
            </p>
            </form>
        </div>

        <div class="footer">
            版权所有 © 2001～2014 深圳大学学子天地
        </div>

    <div style="display: none;">
        <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_5826529'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s23.cnzz.com/stat.php%3Fid%3D5826529' type='text/javascript'%3E%3C/script%3E"));</script>
    </div>
</body>
</html>