{% extends 'master/base.html' %}
{% block htmlhead %}
{% load html_tools %}

{{ 'manage/account.css' | as_css }}
{% endblock %}
{% block beforeload %}
<script type="text/javascript">
    var nowid = {{app.id}};
    var nextid = nowid+1;
    var status="{{ app.status }}";
    var urlf = "{% url 'dreamer:detail' %}?id="+nextid;
    if(status=="False")
    {
        location.href=urlf;
    }
</script>
<style type="text/css">
	h3,p{
		text-align: center;
		margin: 20px 0;
	}
	table{
		text-align: center;
		width: 100%;
	}
</style>
{% endblock %}
{% block content %}
<h3>{{ title }}</h3>
<p>今日报名人数 :{{today_join_num}} </p>
<table border=1>
	<tr>
		<th>技术部</th>
		<th>设计部</th>
		<th>运营部</th>
		<th>采编部</th>
		<th>行政部</th>
		<th>报名总人数</th>
	</tr>
	<tr>
		<td>
			{{ jsb1 }}(一) {{ jsb2 }}(二)<br>
			{{ jsbb }}(男) {{ jsbg }}(女)
		</td>
		<td>
			{{ sjb1 }}(一) {{ sjb2 }}(二)<br>
			{{ sjbb }}(男) {{ sjbg }}(女)
		</td>
		<td>
			{{ yyb1 }}(一) {{ yyb2 }}(二)<br>
			{{ yybb }}(男) {{ yybg }}(女)
		</td>
		<td>
			{{ cbb1 }}(一) {{ cbb2 }}(二)<br>
			{{ cbbb }}(男) {{ cbbg }}(女)
		</td>
		<td>
			{{ xzb1 }}(一) {{ xzb2 }}(二)<br>
			{{ xzbb }}(男) {{ xzbg }}(女)
		</td>
		<td>
			{{ all }}<br>
			{{ all_girls_num }}(男) {{ all_boys_num }}(女)

		</td>
	</tr>
</table>
{% endblock %}
