<html>
<head>
	<meta charset="UTF-8">
	<title>报名成功</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1" /> 
	<link rel="stylesheet" type="text/css" href="/static/styles/dreamer/success_pc.css" media="only screen and (min-width:480px)" />
	<link rel="stylesheet" type="text/css" href="/static/styles/dreamer/success_mobile.css" media="only screen and (max-width:480px)" />
</head>
<body>
	<div class="header_img">
		<img src="/static/images/dreamer/success.jpg">
		<div class="header_content">
			<p class="Chinese">报名成功</p>
			<p class="English">Welcome to join us.</p>
		</div>

	</div>
	<div class="failure_box">
		<div class="failure_content">
			<h3>你好，{{ form.name }}，你已经成功报名我们的{{ form.get_dept1_display }}和{{ form.get_dept2_display }}，我们将通过你的手机{{ form.mobile }}与你联系</h3>
			<p>想了解更多我们社团的文化，你还可以：</p>
			<p>加入我们的qq群：466404878</p>
			<p>扫一扫我们的二维码</p>
			<img src="/static/images/dreamer/stucampusweixin.jpg">
			<p><a href="http://stu.szu.edu.cn/">点击访问我们的网站</a></p>
		</div>
	</div>
</body>
</html>
