    *{
		margin:0px;
        padding: 0px;
    }
    body{
        background-color: #fdeff2;
    }
    .container{
    	width: 900px;
        position: relative;
        margin: 0 auto;
        margin-bottom: 50px;
        overflow: hidden;
    }
    .header{
        width: 100%;
        height: 150px;
        font-family: "微软雅黑";
        color: #007bbb;
        font-size: 40px;
        line-height: 420%;
        position: relative;
        margin-bottom: 50px;
        background: url(blue.png) repeat-x bottom left;
        text-align: center;
    }
    .banner{
        width: 100%;
        height: 40px;
        position: relative;
        overflow: hidden;
        font-family: "微软雅黑";
        line-height: 40px;
        vertical-align: middle;
        font-size: 18px;
        background: url(banner.png) repeat-x;
        color: #ffffff;
        text-align: center; 
    }
    .ban_class_who_date{
        width: 10%;
        height: 100%;
        position: relative;
        float: left;
    }
    .ban_ele{
        width: 70%;
        height: 100%;
        position: relative;
        float: left;
    }
    .list{
        width: 100%;
        height: 40px;
        position: relative;
        overflow: hidden;
        font-family: "微软雅黑";
        font-size: 0px;
        line-height: 40px;
        vertical-align: middle;
    }
    .class_who_date{
        width: 10%;
        height: 100%;
        position: relative;
        float: left;
        font-size: 15px;
        color: #727272;
        text-align: center;
        overflow: hidden;
    }
    .ele{
        display: inline-block;
        width: 70%;
        height: 100%;
        position: relative;
        float: left;
        font-size: 18px;
        color: #1e1e1e;
        text-align: left;
        text-indent: 1em;
        text-decoration: none;
        overflow: hidden;
    }
    .odd{
        background-color: #ffffff;
    }
    .even{
        background-color: #d5f3ff;
    }