.article_content{
    padding: 5%;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.article_content li{
    list-style: none;
    line-height: 300%;
    vertical-align: middle;
}
.article_content label{
    display: inline-block;
    width: 15%;
    text-align: left;
}
.article_content select{
    font-size: 14px;
    line-height: 200%;
    font-family: "Microsoft Yahei";
}
.article_content input[type=text]{
    width: 50%;
    font-size: 14px;
    line-height: 200%;
    font-family: "Microsoft Yahei";
}
.article_content textarea{
    width: 50%;
    height: 100px;
    font-size: 14px;
    font-family: "Microsoft Yahei";
    vertical-align: middle;
    resize: none;
}
.article_content_title{
    width: 13%;
    text-indent: 5%;
    line-height: 300%;
    vertical-align: middle;
}
.line_list{
    width: 95%;
    margin: 0 auto;
    border-top: solid 1px #f7f7f7;
}
.line_aside{
    width: 100%;
    border-top: solid 1px #e5e5e5;
}
.error{
    color: #ff804d;
}
