*{
    margin: 0px;
    padding: 0px;
}
body{
    background: #f7f7f7;
    font-family: "Microsoft Yahei";
    color: #7e7e7e;
    font-size: 14px;
}
.container{
   /* width: 1000px;*/
    position: relative;
    margin: 0 auto;
    height: auto;
    overflow: hidden;
    padding: 0;
}
.smNav{
    position: absolute;
    top: 0px;
    height: 80px;
    width: 80px;
}
.smNav ul{
    margin: 0!important;
}
.smNav button{
    background: #38c2a8;
    color: #fff;
    height: 80px;
    width: 80px;
    border: none;
}
.smNav a{
    display: block;
    height: 50px;
    line-height: 50px !important;
    background: #38c2a8;
    color: #FFF !important;
}
#header{
    position: relative;
    width: 100%;
    height: 80px;
    background: #424242;
    position: relative;
    overflow: hidden;
}
#header h1{
    font-size: 28px;
    margin: 0;
    color: #ffffff;
    font-weight: normal;
    line-height: 80px;
    vertical-align: middle;
    text-indent: 100px;
    float: left;
}
#header .phonevision h2{
    font-size: 28px;
    margin:0 0 0 80px;
    color: #ffffff;
    font-weight: normal;
    line-height: 60px;
    vertical-align: middle;
    text-align: center;
}

.phonevision .navbox{
    color: #ffffff;
    line-height: 20px;
    vertical-align: middle;
    display: inline-block;
    margin-left: 80px;
    width: auto;
    padding: 0;
}
.phonevision .navbox a{
    color: #ffffff;
    text-decoration: none;
    padding: 0px 5px;
}
.phonevision .navbox span{
    padding: 0px 5px;
}
.navbox{
    color: #ffffff;
    line-height: 80px;
    vertical-align: middle;
    padding-left: 150px;
}
.navbox a{
    color: #ffffff;
    text-decoration: none;
    padding: 0px 5px;
}
.navbox span{
    padding: 0px 5px;
}
.main{
    width: 100%;
    background: #ffffff;
    position: relative;
    overflow: hidden;
}
.menu_container{
    width: 100px;
    background: #38c2a8;
    position: absolute;
    top: 0px;
    left: 0px;
}
.left_menu{
    overflow: hidden;
    text-align: center;
}
.left_menu a{
    display: block;
    width: 100px;
    height: 40px;
    position: relative;
    color: #ffffff;
    text-decoration: none;
    line-height: 40px;
    vertical-align: middle;
}
.left_menu a:hover{
    background: #31a592;
}
.current {
    background: #31a592;
}
.right_content{
    width: 100%;
    background: #ffffff;
    position: relative;
    float: left;
    margin-left: 100px;
    overflow: hidden;
}
#footer{
    width: 100%;
    position: relative;
    overflow: hidden;
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
}
.add{
    display: block;
    width: 200px;
    height: 40px;
    background: #38c2a8;
    position: relative;
    margin:30px auto;
    font-family: "Microsoft Yahei";
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
    vertical-align: middle;
    border-width: 0;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 3px 0 #31a592;
}
.form_button{
    display: inline-block;
    background: #38c2a8;
    padding: 0 5px;
    margin: 0 5px;
    font-family: "Microsoft Yahei";
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    line-height: 200%;
    vertical-align: middle;
    border-width: 0;
    border-radius: 5px;
    cursor: pointer;
}
