.line_view{
    width: 95%;
    margin: 0 auto;
    border-top: solid 1px #f7f7f7;
    margin: 10px auto;
}
.message_view{
    width: 100%;
    position: relative;
    margin-top: 30px;
    overflow: hidden;

}
.message_view li{
    list-style: none;
    padding: 0 10%;
    line-height: 250%;
}