<html>
    <head>
        <style>
            input{
                display: block;
            }
        </style>
    </head>
    <body>
        <form action="{% url 'lecture:add_new' %}" method="POST">
            {% csrf_token %}
            <div>title {{ form.title.errors }}{{ form.title }}</div>
            <div>place {{ form.place.errors }}{{ form.place }}</div>
            <div>date time sample:2013-9-1 21:22
                {{ form.date_time.errors }}{{ form.date_time }}
            </div>
            <div>url id {{ form.url_id.errors }} {{ form.url_id }}</div>
            <div>check {{ form.is_check }}</div>
            <div>delete {{ form.is_delete }}</div>
            <input type="submit" value="submit" />
        </form>
    </body>
</html>
