.act_message{
	width: 900px;
    position: relative;
    margin-top: 50px;
    overflow: hidden;
    background-image: url(green.png);
    background-repeat: repeat-x;
    background-color: #98d98e;
}