*********************基本信息页面**********************************/

.item-2 .row{
    margin-top: 30px;
}
.item-2 .container  {
    display: none;
}
.item-2 .container .icon-infomation {
    height: 211px;
  position: relative;
}
.item-2 .container .icon-infomation img {
    /*height: 100%;*/
}
.item-2 .container .icon-infomation img {
    display: block;
    margin: 0 auto;
}

.item-2 .icon-infomation p{
    font-size: 12px;
    text-align: center;
}
/*.item-2 .page2-title.rotateOutUpLeft {*/
    /*-webkit-animation: rotateOutUpLeft .5s ease ;*/
    /*animation: rotateOutUpLeft .5s ease ;*/
/*}*/
.item-2  .page2-title {
    display: inline-block;
}

.item-2 .icon-infomation.zoomOutUp {
    opacity: 1;
}
.intro {
    height: 200px;
    background-color: black;
    opacity: 0.5;
    line-height: 140px;
    padding: 30px 30px;
}
.intro h1 {
    line-height: 20px;
    text-align: left;
    font-size: 20px;
    font-weight: 200;
}
@media screen and (max-width: 768px) {
    .intro h1{
        font-size:12px;
    }
    .intro {
        padding: 10px;
    }
}

h4,.page2-title{
    color: #5BC5BE;
}

.act{
    -webkit-filter:grayscale(100%);
    -moz-filter:grayscale(100%);
    -ms-filter:grayscale(100%);
    -o-filter:grayscale(100%);
    filter: grayscale(100%);
    filter:gray;
}

h3{
    font-weight: 500;
    text-align: left;
}
/**********************基本信息页面end*******************************