<html>
    <head>
        <style type="text/css">
            .message{
                width: 500px;
                height: 30px;
            }
            input{
                display: block;
            }
        </style>
    </head>
    <body>
        <a href="{% url 'lostAndFind:index' %}">index</a>
        <form action="{% url 'lostAndFind:add_message' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit"/>
        </form>
    </body>
</html>
