@charset "utf-8";
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,input{margin:0;padding:0;}
body{margin:0;padding:0;width:100%;height:100%;background:rgb(223,223,223);font-size:1em;font-family:"Microsoft YaHei";font-weight: 900;}
img{border:none;}
ul,ol{list-style:none;}
input,select,textarea{outline:none; border:none; background:#FFF;}
textarea{resize:none;}
a{text-decoration:none;font-weight: 900;}


html{width:100%;height:100%;-ms-text-size-adjust:none;-webkit-text-size-adjust:none;-moz-text-size-adjust:none;-o-text-size-adjust:none;}


/*第一部分*/
.part_one{width: 1300px;height: 639px; margin: 0 auto;background: url(/static/images/dreamer/top.jpg) no-repeat;color: white;text-align: center;}
.stucampus{font-size:100px;padding-top: 148px;padding-bottom: 130px;}
.part_one p{font-size: 15px;line-height: 25px;}
.part_one h1{padding-top: 48px;}


/*第二部分*/
.part_two{position: relative;width: 1300px;height: 520px;margin: 0 auto;}
.photo_box{border: none;float: left;height: 260px;width: 260px;}
.photo_box img{width: 100%;height: 100%;}
.photo_depart{position: relative; border: none;float: left;height: 260px;width: 260px;background: #FFF;}
.Noborder{position: relative; color: #000;font-size: 32px;text-align: center;padding-top: 70px;padding-bottom: 50px;}
.photo_depart a{display: block; color: rgb(77,168,199);font-size: 18px;border:2px solid;border-radius:25px;-moz-border-radius:25px;width: 120px;text-align: center;line-height: 36px;margin: 0 auto;}
.photo_depart a:hover{color: rgb(73,73,255);border:2px solid;border-radius:25px;-moz-border-radius:25px;}
.radious_border{ color: rgb(77,168,199);font-size: 18px;border:2px solid;border-radius:25px;-moz-border-radius:25px;width: 120px;text-align: center;line-height: 36px;margin: 0 auto;}
.retangle1{width: 0px;height:0px;border-width: 30px;border-style: solid;border-color:  transparent  white transparent transparent;position: absolute;top: 100px;left: -50px;}
.retangle2{width: 0px;height:0px;border-width: 30px;border-style: solid;border-color:  transparent transparent transparent white;position: absolute;top: 100px;right: -50px;}
.retangle3{ width: 0px;height:0px; border-width: 30px; border-style: solid; border-color:  transparent transparent white transparent; position: absolute;top: -50px;right: 100px;}


/*第三部分*/
.part_three{position: relative; width: 1300px;height: 700px; background: rgb(238,238,238);margin: 0 auto;color: rgb(80,80,80);}
.part_three h1{font-size: 40px;float: left;padding-top: 60px;padding-left: 30px;}
select{font-size:40px;border: 2px solid rgb(168,168,168);color: inherit;}
.selectDepartment{position: relative;width: 1300px; height: 110px;}
.hr_60{width: 1300px;height: 60px;}
.resume{position: relative;width: 1300px;height: 500px;}
.resume p{width: 671px;float: left; margin-left: 30px;background: #FFF;color: rgb(160,160,160);text-align: right;border:2px solid rgb(168,168,168); border-top: none;}
.resume p input{width: 24px;color: #000;}
.part_three textarea{width: 675px;height: 433px; margin-left: 30px;font-size: 32px;color: rgb(160,160,160);line-height: 40px;border: 2px solid rgb(168,168,168);border-bottom: none; float: left;padding: 25px;}
.Stu_message input[type="text"]{background: rgb(238,238,238);font-size: 40px; border-bottom: 2px solid rgb(160,160,160);color: rgb(160,160,160);line-height: 48px;padding: 24px 0 4px 0;margin: 0 35px;width: 475px;}
.Stu_message select {margin:35px;font-family:"Microsoft YaHei";}
.Stu_message input[type="submit"]{font-size: 40px;line-height: 40px;padding: 20px 50px;border-radius: 8px;background: rgb(73,73,255);color: #FFF;margin-left: 60px;}
