*
{
	margin: 0;
	padding: 0;
	font-size: 0.9em;
	font-family:"Microsoft YaHei";
	color: rgb(81,85,86);
}
li,a,input,img
{
	display: inline-block;
}
select 
{
	width: 6em;
	margin: 0.5em auto;
	display: inline-block;
	text-align: center;
	font-family:"Microsoft YaHei";
	border: 2px solid rgb(160,160,160);
}

input,select,textarea
{
	outline:none;
	border:none;
	background:#FFF;
	color: rgb(156,156,156);
	font-weight: 300;
}

/*-----------------------------content-------*/
.big_box
{
	width: 75%;
	margin: 1.5em auto;
	overflow: hidden;
	background: rgb(223,223,223);

}

.middle_box
{
	width: 75%;
	margin: 1em auto;
	overflow: hidden;
}

.left
{	
	text-align: left;
}
.right
{
	text-align: right;
}
.sign_form
{
	width: 100%;
	text-align: center;
	background: rgb(238,238,238);
	overflow: hidden;
}
.sign_form h1
{
	margin: 0.5em 0 0.5em 0;	
	font-size: 2em;
	font-weight: 500;
	word-spacing: 0.5em;
	color: rgb(81,85,86);
}
.li_click
{
	background: rgb(121,123,233);
	color: #fff;
}

.sign_form .department_infor
{
	margin: 1.5em auto;
	text-align: left;
	background: rgb(223,223,223);
}
.dreamer_infor 
{
	margin: 1.5em auto;
	font-size: 1.6em;
	font-weight: 800;
}

.dreamer_infor .department_select select
{
	margin: 0 1em 0 1em;
	width: 5em;
	font-size: 0.8em;
	font-weight: 400;
	border: 2px solid rgb(233,233,233);		
}
.department_select h3
{
	font-size: 0.9em;
	margin-bottom: 1em;
	font-weight: 450;
	white-space: nowrap;
}
.department_img
{
	width: 100%;
}
.department_img p
{
	position: relative;
	width: 100%;
}
.department_img>li
{
	width: 15%;
}
.department_img img
{
	width: 100%;
	height: 4.5em;
}
.sex
{
	margin: 0.5em auto;
	width: 75%;
	text-align: left;
}
.retangle {
	position: absolute;
	right: 0;
	left: 0;
	margin: auto;
	width: 0;
	height: 0;
	border-left: 1em solid transparent;
	border-right: 1em solid transparent;
	border-bottom: 2em solid rgb(223,223,223);
}

.stu_message input
{
	margin: 1em auto;
	width: 75%;
	height: 2em;
	display: block;
	font-size: 1em; 
	border-bottom: 2px solid rgb(160,160,160);
	background: rgb(223,223,223);
	color: rgb(156,156,156);
	line-height: 2em;
}


.name
{
	display: inline-block;
}

.hobby textarea
{
	width: 100%;
	height: 8em;
	border: 2px solid rgb(168,168,168);
	font-size: 0.8em;
	border-bottom: none;
	color: rgb(156,156,156);
	background: rgb(255,255,255);
}
.hobby p
{	
	text-align: right;
	font-weight: 200;
	margin: 0 auto;
	width: 100%;
	border: 2px solid rgb(168,168,168);
	border-top: none;
	background: rgb(255,255,255);
}
.submit_btn
{
	margin: 0.5em auto;
	width: 6em;
	height: 1.7em;
	text-align: center;
	font-weight: 400;
	line-height: 1.5em;
	background:rgb(89,196,188);
	color: #FFF;
}
.xingzheng,.jishu,.sheji,.yunying,.caibian,.retangle
{
	display: none;
}
.click_more
{
	text-align: center;
	color: white;
	font-size: 1.5em;
}