*
{
	margin: 0 ;
	padding: 0;
	font-family:"Microsoft YaHei";
}

body
{
	text-align: center;
}

.header_img img
{
	display: inline-block;
	width: 230px;
	height: 230px;

}
.header_img .header_content
{
	margin: 0 auto;
	width: 80%;
	height: 100px;
}
.header_content .Chinese
{
	font-size: 3em;
	font-style: italic;
	font-weight: 600;

}
.header_content .English
{
	font-size:2em;
	color: rgb(111,111,111);

}


.failure_box
{
	margin: 5px auto;
	width:80%;
	border: 2px solid rgb(201,203,202);
	border-radius:10px;
	-moz-border-radius:10px;

}
.failure_content
{
	margin: 10px auto;
}
.failure_content h3,.failure_content p
{
	font-size: 0.9em;
	padding: 10px 0 5px 0;
}
.failure_content p
{
	font-weight: 600;
	color: rgb(111,111,111);
}
.failure_content a
{
	margin: 1.2em auto;
	display: block;
	text-decoration: none;
	color: rgb(77,168,199);
	font-size: 1.0em;
	border:2px solid;
	border-radius:10px;
	-moz-border-radius:10px;
	width: 7em;
	text-align: center;
	line-height: 1.6em;
}
.failure_content a:hover
{
	color:#fff;
	background: rgb(77,168,199);

}