*
{
	margin: 0 ;
	padding: 0;
	font-family:"Microsoft YaHei";
}

body
{
	text-align: center;
}
.header_img
{
	margin: 0 auto;
	width: 50%;
}
.header_img img
{
	display: inline-block;
	width: 230px;
	height: 230px;

}
.header_img .header_content
{
	display: inline-block;
	width: 390px;
	height: 100px;
}
.header_content .Chinese
{
	font-size: 3em;
	font-style: italic;
	font-weight: 600;

}
.header_content .English
{
	font-size:2em;
	color: rgb(111,111,111);

}


.failure_box
{
	margin: 20px auto;
	height: 230px;
	width:50%;
	border: 2px solid rgb(201,203,202);
	border-radius:10px;
	-moz-border-radius:10px;

}
.failure_content
{
	margin: 20px auto;
}
.failure_content h3,.failure_content p
{
	padding: 10px 0 5px 0;
}
.failure_content p
{
	color: rgb(111,111,111);
}
.failure_content a
{
	margin: 0 1.2em 1.0em 0;
	display: inline-block;
	text-decoration: none;
	color: rgb(77,168,199);
	font-size: 18px;
	border:2px solid;
	border-radius:10px;
	-moz-border-radius:10px;
	width: 150px;
	text-align: center;
	line-height: 40px;
}
.failure_content a:hover
{
	color:#fff;
	background: rgb(77,168,199);

}