
.content

{
	margin-top:10px;
	text-align: center;

}

.search_form

{
	margin-top: 10px;
	text-align: center;

}

.search_input

{
	margin: 0;
	display: inline-block;
	width: 300px;
	height: 20px;
	line-height: 20px;

}

.search_btn

{
	margin: 0;
	display: inline-block;
	width: 100px;
	height: 23px;
	background-color: #38c2a8;
	border: 0;
	color: #fff;
}

table

{

	margin: 0 auto;

	width: 100%;

	line-height:25px；

}



.pagination

{

	margin: 20px 0 10px 0;

}

.pagination>a,.management>a

{

	width: 30px;

	height: 28px;

	text-align: center;

	line-height: 28px;

	margin: 0px 0 0px 4px;

	display: inline-block;

	text-decoration: none;

	border: 1px #dfdfdf solid;

	background: rgb(223,243,223);

	color: rgb(42,35,52);;

}

.pagination .prev,.pagination .next

{

	width: 54px;

	height: 28px;

	text-align: center;

	

}
