        html{
            font-size: 100%;
        }
        body{
            position: relative;
            background: #eee;
        }

        .content{
            position: relative;
            overflow: hidden;
            margin: 0 auto;
            padding: 18px 38px 0;
            font-family: Microsoft Yahei;
            line-height: 250%;
            background-color: white;
            text-align: center;
        }

        @media screen and (min-width: 768px){
            .content{
                width: 330px;
            }
        }

        .content h1{
            text-align: center;
            font-size: 1.5em;
            font-weight: normal;
        }

        .content .icon {
            position: relative;
            overflow: hidden;
            padding: 8px 38px 10px;
            font-size: 1em;
            text-decoration: none;
            background-color: #fff;
            color: #5bc4be;
            border: 1px solid #5bc4be;
            border-radius: 30px;
        }