        html{
            font-size: 100%;
        }
        body{
            position: relative;
            background: #eee;
        }
        .content{
            position: relative;
            overflow: hidden;
            margin: 0 auto;
            padding: 18px 38px 0;
            line-height: 250%;
            background-color: white;
        }

        @media screen and (min-width: 768px){
            .content,.joinus{
                width: 330px;
            }
        }

        .content h1{
            text-align: center;
            font-size: 1.5em;
            font-weight: normal;
        }

        .content .icon {
            position: relative;
            overflow: hidden;
            padding: 8px 38px 10px;
            font-size: 1em;
            text-decoration: none;
            background-color: #fff;
            color: rgb(212,65,55);
            border: 1px solid rgb(212,65,55);
            border-radius: 30px;
        }

        .joinus{
            position: relative;
            overflow: hidden;
            padding: 0 38px 38px;
            margin: 0 auto;
            background-color: white;
        }

        .joinus div{
            line-height: 250%;
        }

        .joinus li{
            list-style: none;
            float: left;
        }

        .joinus form .formbutton{
            position: relative;
            overflow: hidden;
            padding: 8px 38px 10px;
            font-size: 1.3em;
            text-decoration: none;
            color: #fff;
            background-color: rgb(212,65,55);
            border: 1px solid rgb(212,65,55);
            border-radius: 30px;
            cursor: pointer;
        }

        .joinus form h2{
            font-size: 1.5em;
        }

        .joinus div{
            position: relative;
            line-height: 250%;
        }

        .joinus div label{
            position: relative;
            display: block;
        }

        .joinus form ul{
            position: relative;
            list-style: none;
            overflow: hidden;
            display: inline-block;
        }

        .joinus form li{
            position: relative;
            float: left;
            list-style: none;
            overflow: hidden;
        }

        .footer{
            position: relative;
            overflow: hidden;
            text-align: center;
            padding: 18px 0;
            font-size: 1em;
            color: #999;
        }
