        body{
            position: relative;
            background: #eee;
        }
        .content{
            position: relative;
            overflow: hidden;
            width: 330px;
            margin: 0 auto;
            padding: 38px;
            line-height: 250%;
            font-size: 18px;
            font-family: Microsoft Yahei;
            background-color: white;
            text-align: center;
        }

        @media screen and (min-width: 768px){
            .content{
                width: 330px;
            }
        }

        .content a{
            position: relative;
            overflow: hidden;
            padding: 12px 22px;
            border-radius: 2px;
            font-size: 16px;
            text-decoration: none;
            background: #5bc4be;
            color: #fff;
        }
        .content a:hover{
            background: rgb(9,108,111);
        }