html {
    padding: 0;
    margin: 0;
    font-size: 100%;
}

body {
    min-width: 1024px;
    font-family: "Microsoft Yahei", sans-serif;
    font-weight: normal;
    padding: 0;
    margin: 0;
    background-color: #ddd;
}

a,button,input,h1,h2,h3,p{
    transition: all 0.2s ease-out;
}

.wrapper {
    position: relative;
    width: 1366px;
    margin: 0 auto;
    box-shadow: 0px 0px 10px #ccc;
    background-color: #fff;
}

.header {
    position: relative;
    overflow: hidden;
    background-image: url("../../images/dreamer/background.jpg");
    min-height: 667px;
}

.header .stucampus-title {
    position: relative;
    overflow: hidden;
    background-image: url("../../images/dreamer/stucampus-title.png");
    width: 466px;
    height: 130px;
    margin: 130px auto 30px;
}

.header h1{
    position: relative;
    overflow: hidden;
    text-align: center;
    color: #fff;
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 10px;
}

.header .slogan {
    position: relative;
    overflow: hidden;
    text-align: center;
    color: #fff;
    font-size: 1.5em;
    margin-bottom: 70px;
}

.header .intro {
    position: relative;
    color: #fff;
    text-align: center;
    margin-top: 10px;
    line-height: 2em;
    width: 100%;
}

.header .arrow {
    position: absolute;
    background: url("../../images/dreamer/arrow.png");
    width: 114px;
    height: 66px;
    left: 50%;
    margin-left: -57px;
    bottom: 10px;
}

.content {
    position: relative;
    padding: 3px;
    background-color: #fff;
}

.content .row {
    position: relative;
    height: 340px;
}

.content .department {
    float: left;
    position: relative;
    overflow: hidden;
    width: 680px;
    height: 340px;
    margin: 0px;
    padding: 0px;
}

.content .department .picture{
    float: left;
    position: relative;
    overflow: hidden;
    height: 340px;
    width: 340px;
    border: 0;
    padding: 0;
    margin: 0;
}

.content .department .words_intro {
    float: left;
    position: relative;
    overflow: hidden;
    width: 340px;
    height: 340px;
    background-color: #fff;
    text-align: center;
}

.content .department .words_intro h2 {
    position: relative;
    overflow: hidden;
    font-size: 2em;
    font-weight: normal;
    text-align: center;
    padding-top: 68px;
    padding-bottom: 25px;
}

.content .department:hover .words_intro h2 {
    padding-top: 25px;
    padding-bottom: 0;
}

.content .department .words_intro .brief_intro {
    position: relative;
    overflow: hidden;
    width: 294px;
    height: 120px;
    font-family: serif;
    text-align: left;
    margin: 10px auto;
    display: none;
}

.content .department:hover .words_intro .brief_intro {
    display: block;
}

.content .department .words_intro .icon {
    position: relative;
    overflow: hidden;
    padding: 8px 38px 10px;
    font-size: 1.3em;
    text-decoration: none;
    background-color: #fff;
    color: rgb(212,65,55);
    border: 1px solid rgb(212,65,55);
    border-radius: 30px;
}

.content .department .words_intro .icon:hover{
    color: #fff;
    background-color: rgb(212,65,55);
}

.joinus{
    position: relative;
    padding: 3px;
    background-color: #eee;
}

.joinus form{
    position: relative;
    width: 500px;
    margin: 10px auto;
    padding: 0 0 30px;
}

.joinus form h2{
    position: relative;
    overflow: hidden;
    font-size: 3.2em;
    font-weight: normal;
    text-align: center;
    padding: 10px 0;
}

.joinus form p{
    position: relative;
    padding: 18px;
    margin: 0;
    font-size: 1.3em;
    border-bottom: 1px solid #ccc;
}

.joinus form div{
    position: relative;
    padding: 18px;
    margin: 0;
    font-size: 1.3em;
    border-bottom: 1px solid #ccc;
}

.joinus form p label{
    position: relative;
    overflow: hidden;
    width: 120px;
    padding: 5px;
}

.joinus form div label{
    display: block;
    width: auto;
}

.joinus form input[type="text"]{
    position: relative;
    font-size: 1.3em;
    width: 300px;
    padding: 3px;
    border-radius: 1px;
    border: 1px solid #ccc;
}

.joinus form ul{
    position: relative;
    list-style: none;
    overflow: hidden;
    display: inline-block;
}

.joinus form li{
    position: relative;
    float: left;
    list-style: none;
    overflow: hidden;
}

.joinus form input[type="radio"]{
    position: relative;
    list-style: none;
    overflow: hidden;
    display: inline;
}

.joinus form input[type="checkbox"]{
    position: relative;
    list-style: none;
    overflow: hidden;
    display: inline;
}

.joinus form .formbutton{
    position: relative;
    overflow: hidden;
    padding: 8px 38px 10px;
    font-size: 1.3em;
    font-family: Microsoft Yahei;
    text-decoration: none;
    color: #fff;
    background-color: rgb(212,65,55);
    border: 1px solid rgb(212,65,55);
    border-radius: 30px;
    cursor: pointer;
}

.joinus form .formbutton:hover{
    background-color: rgb(255,65,55);
    border: 1px solid rgb(255,65,55);
}

.footer{
    position: relative;
    overflow: hidden;
    text-align: center;
    padding: 58px 0;
    font-size: 1em;
    color: #999;
}